[2019-10-13 03:29] jeffchew opened #67 "Guidelines section publishing roadmap planning"
_chsanche created the following on Mar 26:_

 # As a Digital Design System adopter, I need guidelines for me to follow, so that I can complete my tasks without confusion or contribute confidently because of I know how to do it.

### Notes

- We need to create the Guideline section on the website
- There are multiple guidelines we currently do not have and need to be crafted so we can publish the g

[2019-12-16 16:08] wonilsuhibm opened #50 "Locale change banner design specs"

[2020-03-16 17:47] JennySanchez opened #66 "Inspiration library Development"
#### Tasks
- [ ] Design research on how other design systems and teams handle the inspiration library.
- [ ] Define what information needs to be included
- [ ] Craft the experience with a prototype for testing
- [ ] Work on the design
- [ ] Code the finalized design
- [ ] Publish the content and implement the library on the website.

#### Acceptance criteria
Inspiration library lives on the websit

[2020-04-16 16:14] wonilsuhibm opened #1 "IBM.com style model validation research"
### Objectives
This story is to validate the style model work and various dimensions currently identified.

In order to support our adopters and help them make the best decisions re: style models for ibm.com, we need to research each dimension and form a point of view for ibm.com experiences.

### Problem
We have ibm.com style models and dimensions identified but we don't have documentation of gui

[2020-04-16 16:17] wonilsuhibm opened #2 "Expressive theme: ideal state"
### Objectives
This epic is to understand the overall landscape of how and what the expressive theme will impact across different dimensions: adopter experience, codebase, design kit, documentation, communication, etc, in order to find the best solution and the best strategy to get there.

[2020-04-16 16:20] wonilsuhibm opened #3 "Publishing swarm: Q2, 2020"
### Objectives
Let's swarm around what we have so far in terms of components, patterns, IBM.com style model, and other guidelines so far and publish them with the goal of helping immediate adopters.

[2020-04-16 16:47] JennySanchez opened #4 "(MVP version) Update Components page content template"
### Objective
- Update the current [content template](https://ibm.box.com/s/oeifaq2ioa0huxuv59ixuhn1t9qf5x9r) for the [Components section](https://ibm-dotcom-library.mybluemix.net/components/footer) based on [the adopter needs](https://github.com/carbon-design-system/digital-design-ideation/issues/20).

### Tasks
- [ ] Set up a meeting to review adopter needs around Components.
- [ ] Discuss ideas

[2020-04-16 16:47] JennySanchez opened #5 "(MVP version) Update Layout Pattern content page template"
### Objective
- Update the current [content template](https://ibm.box.com/s/hmtss7ois6x5au7kgv9wox4fmy76e1a2) for the [Layout Patterns section](http://ibm-dotcom-library.mybluemix.net/patterns/leadspace) based on [the adopter needs](https://github.com/carbon-design-system/digital-design-ideation/issues/20).

### Tasks
- [ ] Set up a meeting to review adopter needs around Layout Patterns.
- [ ] Dis

[2020-04-16 16:47] JennySanchez opened #6 "(MVP version) Create Guideline content page template"
### Objective
- Create a content template for the [Guideline section](https://ibm-dotcom-library.mybluemix.net/guidelines) based on [the adopter needs](https://github.com/carbon-design-system/digital-design-ideation/issues/20).

### Tasks
- [ ] Set up a meeting to review adopter needs around Guidelines.
- [ ] Discuss ideas.
- [ ] Create the template.
- [ ] Create next step stories if needed.

[2020-04-16 16:48] JennySanchez opened #7 "Update Website content publishing process document"
### Task

**Estimated task time: 2 weeks**
**Starting date: XX/XX**

- [x] Take a look at the 2020 website content publishing process [BOX document](https://ibm.box.com/s/6oiqsvhxtchi1lfozyuw1soje67unbmj) and make sure the process still works with the latest content content structure' (outcome of #20 ).
- [x] Update the document as needed.
- [x] Share the finalized document with the team members.

[2020-04-17 00:39] wonilsuhibm opened #8 "Exp theme ideal state: Ideation"
### Objectives (tentative)
**The ultimate objective** is to understand the true scope of this work to inform involved parties (DDS + Carbon + leadership) so that the right strategy can be formulated.

- Define the areas that will be impacted by the expressive theme, such as documentation, code, etc
   - Define and understand each area
   - Estimate the LoE and scope for each area
- Set up tools, w

[2020-04-17 13:03] wonilsuhibm opened #9 "IBm.com style model: Research plan"
### Objectives
This story is to create and document a research plan around the epic objectives that can be used through this cycle.

[2020-04-17 13:34] wonilsuhibm opened #10 "test 1"

[2020-04-17 13:34] wonilsuhibm opened #11 "test 2"

[2020-04-17 13:34] wonilsuhibm opened #12 "test 3"

[2020-04-17 13:34] wonilsuhibm opened #13 "Test epic"

[2020-04-17 13:35] #10 closed

[2020-04-17 13:36] wonilsuhibm opened #14 "test 4"

[2020-04-17 13:36] wonilsuhibm opened #15 "test 5"

[2020-04-17 13:36] wonilsuhibm opened #16 "Test epic 2"

[2020-04-17 13:37] #11 closed

[2020-04-17 13:38] #12 closed

[2020-04-17 13:38] #14 closed

[2020-04-17 13:38] #13 closed

[2020-04-17 13:39] #15 closed

[2020-04-17 13:39] #16 closed

[2020-04-17 13:54] wonilsuhibm opened #17 "IBM.com style model: synthesize audits and validate models"

[2020-04-17 15:46] wonilsuhibm opened #18 "Cycle 1-2020"

[2020-04-17 16:44] wonilsuhibm opened #19 "Cycle 2-2020"

[2020-04-17 17:05] JennySanchez opened #20 "Create MVP version content structure, template, and priorities"
### Goal
This story is to figure out what is the content MVP that will be helpful to our adopters.

#### Tasks

**Estimated task time: 4 weeks**
**Starting date: 05/11**

- [x] Compose lists of Pattern and Component page sections for adopter card sorting exercise based on what we currently have on the website and from the Carbon content templates (05/11 to 05/15).
- [x] Work on the Testing Plan an

[2020-04-20 22:58] wonilsuhibm commented on #8
What to do
- Rough impact map for Akira's RFC by the end of the sprint 8
- Will work on stakeholder map after the impact map
-

# What is the ideal state?

### top level
- Having an expressive theme in which all components are scaled up as a whole for an optimal and coherent rendering of IBMm.com pages

### second level in support of the top level
- A single system supporting both productive and e

[2020-04-21 11:55] wonilsuhibm opened #21 "IBM.com spatial model and screen region study"
### Objectives
- As multiple popups, overlays, and banners are added to IBM.com, we need a guidelines around where what should be fitted to form a consistent and logical mental model. Eg) User conversation interstitials such as UMX and Site feedback are in the lower right corner, while notifications are in the lower middle, and banners are at the top. (this is just an example).

### Tasks
- [ ] Co

[2020-04-21 12:07] wonilsuhibm opened #22 "Mobile design studies"

[2020-04-21 12:08] wonilsuhibm opened #23 "Locale change banner test plans for mobile"

[2020-04-21 12:08] wonilsuhibm opened #24 "Locale change banner: test mobile design"

[2020-04-21 12:08] wonilsuhibm opened #25 "Locale change banner: mobile prototype for testing"

[2020-04-21 12:08] wonilsuhibm opened #26 "Locale change banner design studies"
### User story
As a user of IBM.com, I would like to know when I am forwarded to a page that has a different locale setting than my preferences or the previous pages.

### Notes
- This story is based on SEO's recommendation to not use the popup for locale change.
- The existing banner design seems to be problematic in that users either miss it or are not helped by it.

[2020-04-21 12:09] wonilsuhibm opened #27 "Locale change banner test plan for desktop"

[2020-04-21 12:10] wonilsuhibm opened #28 "Locale change banner: desktop prototype for testing"

[2020-04-21 12:11] wonilsuhibm opened #29 "Locale change banner: test desktop design"

[2020-04-21 13:08] wonilsuhibm opened #30 "Error page: design research"
### Objectives
- Conduct design research to inform the design story.
- Areas of research
   - Competitor audit
   - Internal audit
   - User feedbacks (start with secondary research to see if there is any metrics or studies done in the past)

[2020-04-21 13:08] wonilsuhibm opened #31 "Error page: design study"

[2020-04-21 13:08] wonilsuhibm opened #32 "Error page redesign"
#### User story
As a user of IBM.com, I need to be informed of an HTTP error and understand what the next steps are.  The error pages were implemented on v18.  This work is needed for Carbon.

#### Notes
_Original issue: https://github.ibm.com/webstandards/digital-design/issues/293_
- Moved this issue from the agile board (https://github.com/carbon-design-system/ibm-dotcom-library/issues/190)

###

[2020-04-21 21:50] wonilsuhibm commented on #1
@larahanlon2 here is the competitor list that we put together. https://ibm.box.com/s/h152jtxsu30m8eelkq5623znfazk18sw

[2020-04-23 15:47] larahanlon2 opened #33 "Review and evaluate patterns (taxonomy, ontology, documentation)"
### Problem to solve

There are many people from DDS and Reboot working on patterns. There are misalignments and misunderstandings of how different aspects of patterns work or should work.

### Objective

This epic will capture the various things that need to be addressed in order to align people around patterns, evolve the ontology, and support our adopters in the best way possible.

### Core tea

[2020-04-23 17:21] larahanlon2 opened #34 "IBM.com style model: research color (dark vs light) in UI"
### Objective

In order to support our adopters and help them make the best decisions re: style models for ibm.com, we need to research each dimension and form a point of view for ibm.com experiences.

### Notes

**Color theme** will be the first dimension to research and validate.

### Problem

Many ibm.com designers are using IDL color themes liberally and inconsistently. We want to understand w

[2020-04-24 16:18] sethibm opened #35 "Spacing and Pattern Structure in Visual Specs & Code"
### Objectives
All patterns and 'blocks' in IBM.com Library, including the spacing between them, should be simple and easy to understand, fun to use, self-contained, easily stackable, and possible to re-order + re-use,  with the least amount of variables and overrides to accommodate special cases.

This research will explore options for Top Down, Bottom Up, or Collapsible Margins in spacing, exami

[2020-04-27 15:25] wonilsuhibm opened #37 "Planning: IBM.com Style Model page content and IA"
@JennySanchez commented on [Mon Apr 13 2020](https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/389)

#### Additional information

The Mural.ly board used for discussion can be viewed [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1579113436354?sender=chsanche&key=26c3f47a-f226-44aa-bee7-223107a17b94).

#### Tasks
- [x] Discuss with Wonil and f

[2020-04-28 16:03] larahanlon2 opened #38 "Review sub-patterns"
### Problem
Some of the patterns in Storybook are labeled sub-patterns but we need to understand why and how that organization and labeling happens.

### Tasks
- [x] Lara to meet with Lila and James to review sub-patterns

### Questions to answer

1. What are sub-patterns? Who decides what is a sub-pattern? What is the criteria currently?
2. What outstanding sub-pattern specs do we need for devs
3

[2020-04-29 18:58] wonilsuhibm opened #39 "(MVP version) Content strategy for Components section on the website"
### User story
~~As an IBM.com maker, I would like to understand how to use any specific component the right way.~~

As an IBM.com library website contributor, I need a way to set up any website page for a component, so that our adopter can see a cohesive structure across the Components section and find information intuitively and efficiently.

FYI: @oliviaflory I updated the user story originally

[2020-04-29 19:09] JennySanchez opened #40 "(MVP version) Content strategy for Layout Patterns section on the website"
### User story
~~As an IBM.com maker, I would like to understand how to use any specific pattern layout the right way~~.

As an IBM.com library website contributor, I need a way to set up any website page for a layout pattern, so that our adopter can see a cohesive structure across the Layout Patterns section and find information intuitively and efficiently.

FYI: @larahanlon2 @sethibm I updated t

[2020-04-29 19:09] JennySanchez opened #41 "(MVP version) Content strategy for Guideline section on the website"
### User story
As an IBM.com maker, I would like to understand how to use any specific component the right way.

### Tasks
1. Collect adopter needs and pain points around guideline usage
2. Compose a list of information necessary for component guidelines
3. Identifying the essential pieces of information for MVP publishing
4. Creating a content template wireframe

### Acceptance criteria
- [x] Con

[2020-05-01 22:47] wonilsuhibm opened #42 "testing checkboxes"
requirements
- [x] testing 1
- [ ] testing 2

[2020-05-04 17:47] JennySanchez opened #43 "Adopter pain points study and alignment"
### Task

**Estimated task time: 4 weeks**
**Starting date: 05-03**

- [x] Collect all adopter pain points from stream leads (05/03 to 05/08).
- [x] Do pain points and needs grouping exercise to spot high-level pain points and needs (05/11 to 05/15).
- [x] Do pain points and needs category Prioritize exercise (05/18 to 05/22).
- [x] Synthesizing the findings (05/27 to 06/05).
- [x] Playback to the

[2020-05-05 14:07] larahanlon2 commented on #38
<img width="1035" alt="Screen Shot 2020-05-05 at 10 07 01 AM" src="https://user-images.githubusercontent.com/53093550/81075320-30ad1e80-8eb8-11ea-8e87-f4953fba598d.png">

View [Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1588089127469?sender=larahanlon9022&key=1de94364-ae65-47a6-b1f1-e59d71d2de36) for sub-patterns WIP review.

[2020-05-05 14:09] larahanlon2 opened #44 "Review pattern pain points and questions"
There are many conversations and workstreams running in parallel regarding patterns. There are shared ideas and conflict of interest so we need to understand there in order to move ahead together.

[2020-05-05 14:13] larahanlon2 commented on #44
MAY 4:
<img width="737" alt="Screen Shot 2020-05-05 at 10 09 31 AM" src="https://user-images.githubusercontent.com/53093550/81075658-a3b69500-8eb8-11ea-8289-7716155b344e.png">

Lara, Lila, James, Shixie, Olivia, Kenny, Anna collaborated on a [Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1588089127469?sender=larahanlon9022&key=1de94364-ae65-47a6-b1f1-e59d71d2de36) t

[2020-05-05 14:16] larahanlon2 commented on #44
### Next steps:
James and I will continue our conversation around ontology. Will focus on `content block` Vs `content group` as this is causing some churn with the incoming Solutions designs.

**Blockers:** Patterns are currently controlled by level of hierarchy and allow a lot of nesting. Not all patterns have one hierarchy and may not need a parent/child.

[2020-05-05 14:26] JennySanchez commented on #43
Note: Reach out to Lara about the #44 outcome.

[2020-05-06 16:40] jacobottesen-dgc commented on #25
cc. @wonilsuhibm @oliviaflory

Prototype has been designed in Adobe XD. One problem is that our XD licensing doesn't allow for prototype link sharing. Is there a way we can update that?

![Screen Shot 2020-05-06 at 11.38.30 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/92165d23-0338-442e-87ec-3a5811339c2e)

[2020-05-06 16:49] jacobottesen-dgc commented on #28
Desktop prototype is finished and ready for testing.

![Screen Shot 2020-05-06 at 11.49.02 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/c4995255-0d7e-4581-a8ea-64f4dcd5f6b9)

[2020-05-06 21:28] JennySanchez commented on #43
@wonilsuhibm  FYI: Mural board new section created for the adopter pain points and needs collection and can be viewed [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1579113436354?sender=chsanche&key=26c3f47a-f226-44aa-bee7-223107a17b94).

[2020-05-06 22:48] JennySanchez commented on #43
Based on the conversation with Wonil and Linda, the Publishing Swarm will be the priority for Q2.  Publishing Swarm Epic can be viewed [here](https://github.com/carbon-design-system/digital-design-ideation/issues/3) on the Ideation Board.

[2020-05-08 20:22] jacobottesen-dgc commented on #25
Mobile prototype can be found in Box: https://ibm.box.com/s/3i7gpdmerk7rjbtygcgy1fx5xewkgdpp

[2020-05-08 20:23] jacobottesen-dgc commented on #28
Desktop prototype can be found in Box: https://ibm.box.com/s/qhjwzxl72ex1a0kgq653fmspe1vgts4v

[2020-05-11 19:56] JennySanchez commented on #20
@jacobottesen-dgc as mentioned in our task kickoff today, we need to add the section items from our current web page and the template to prepare the Card Sorting exercise we are going to do with the adopters on the [Mural.ly board](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1579113436354?sender=chsanche&key=26c3f47a-f226-44aa-bee7-223107a17b94).

I took the screenshots

[2020-05-12 13:18] larahanlon2 commented on #44
I've been meeting with various team members about patterns and the work they are doing in this space. I have captured some of my thinking about how we might reorganize and label patterns and components moving forward in [this Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1588965125197?sender=larahanlon9022&key=168c2154-9574-4af9-9726-c405b7ded7a3), still WIP.

**Fee

[2020-05-12 13:21] larahanlon2 commented on #44
There will be a meetings with DDS leadership and other team members to align on patterns work items. Potential areas we could prioritize based on group [voting session in Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1588089127469?sender=larahanlon9022&key=1de94364-ae65-47a6-b1f1-e59d71d2de36) in small groups include:

### 1. Organization and labeling
### 2. Ontolog

[2020-05-12 13:26] larahanlon2 commented on #34
Signed up to share work to date during the last sprint demo and DDS critique due but due to agenda limitations, I was unable to use that time. Update: I have been collecting examples of dark UI (mostly masthead) from Shixie, Think 2020, IBM Developer.

[2020-05-13 15:29] JennySanchez commented on #20
@jacobottesen-dgc Here's the [list](https://ibm.box.com/s/wv8p20m5t3l3n3xn0250ut2zcge9oa6l) of the Sponsor adopters we can reach out and schedule the Card Sorting exercise with for next week.

[2020-05-13 17:57] larahanlon2 opened #45 "IBM.com navigation design"
### Objective

Reboot IA team are working to improve the navigation for ibm.com. They require support from DDS and Reboot designers to apply Carbon, IDL, UX and UI best practices to the navigation models they are proposing.

### Additional information

- Wonil and Lara worked on ibm.com navigation components in 2019/20 including masthead and footer.
- Since Q1, Wonil and Lara have been meeting wit

[2020-05-13 18:26] larahanlon2 opened #46 "Explore patterns organization and taxonomy"
#### User story

As a member of our team (DDS or Reboot) I need to understand how patterns are organized and what they are named so I can choose the right pattern for my design needs or contribute to the system.

#### Objectives

- A simpler, flatter structure to our patterns will help reduce complexity
- A clearer, updated taxonomy (naming structure) will help improve communication and documentat

[2020-05-13 18:35] larahanlon2 commented on #46
I've been working [in this Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1588965125197?sender=larahanlon9022&key=168c2154-9574-4af9-9726-c405b7ded7a3) to understand the landscape today and explore to-be options.

**Board includes:**
- Overview of IBM.com Library and Reboot template attributes
- Current definitions of patterns and templates
- 5x to-be options for how

[2020-05-13 18:46] larahanlon2 commented on #46
Meeting scheduled to share this on Tuesday May 19 with Wonil, Jeff, James, Shixie, Kenny.

[2020-05-14 11:17] wonilsuhibm opened #47 "IBM.com style model: design intent validation and baselining"
Work with Reboot team to collate, identify gaps, and update the list of design intents in order to make sure the style model framework is applicable to larger spectrum of touchpoints.

### Tasks
- [ ] Collate low level design intents from the current model
- [ ] Interview content strategists, taxonomists, and IA strategists to validate
- [ ] Collect competitors' designs and collate under the ident

[2020-05-14 14:05] sethibm commented on #35
-------------------------------------
Notes: 5/11
-------------------------------------

Met with Wonil and Lara late in day.  Reviewed spacing and overall pain points with patterns and tasks between DDS and Reboot.

Latest resolution for spacing:

For all patterns: Zero top and bottom padding by default (ie no safe space)
Per pattern, padding is defined between its interior items
This is essentia

[2020-05-15 14:53] jacobottesen-dgc commented on #20
Test script for card sort is ready and Mural board

https://ibm.box.com/s/gqs2yd53wwbwga8qksuse5js7vy4b74g
https://app.mural.co/t/digitaldesignsystemsquadwork2176/m/digitaldesignsystemsquadwork2176/1589488541451/1242c6b8ddb9d0cda9d9dc71dc9e65cf7521487e

[2020-05-18 15:44] JennySanchez commented on #20
@jacobottesen-dgc I can not access the revised Test Scrip. Can you make sure it's saved in the Website folder? I created a folder for you and can be found [here](https://ibm.box.com/s/ykb0ljynf1horw2ipr8zk48qc9o8ka1h).

[2020-05-18 16:26] JennySanchez commented on #43
**Task update:** We went over the adopter pain point findings and categorize the pain points and needs. Our next step is to look into the pain points and needs one level deeper in detail and complete the prioritization Grid exercise on Wednesday 05/20.

[2020-05-18 16:42] jacobottesen-dgc commented on #20
Scheduled card sort activity with Pete, Shixie, & Lila for this week (05/18-22)

[2020-05-18 17:30] #44 closed

[2020-05-18 17:32] JennySanchez opened #48 "Website traffic tracking tooling research and planning"
### Task

**Estimated task time: 3 weeks
Starting date: XX/XX**

- [ ] Understand what tools or methods we currently use for traffic tracking.
- [ ] Learn more about what Leadership Team is looking for when it comes to a website (ex: NPS, feedback outcome, etc).
- [ ] Craft a purposed traffic tracking plan along with cadence set up
Review the plan with the Leadership Team.

### Acceptance criteria

[2020-05-18 17:35] JennySanchez commented on #48
@wonilsuhibm FYI on this task existed. We will need to create an EPIC and set priority.

[2020-05-18 17:36] larahanlon2 commented on #33
Met with James, Kenny, and Shixie today. We discussed next steps for patterns work and agreed on the three core buckets of work: **Ontology, Organization and Taxonomy, Documentation.**

<img width="1298" alt="Screen Shot 2020-05-18 at 1 29 30 PM" src="https://user-images.githubusercontent.com/53093550/82242510-f86ffc00-990b-11ea-8065-521cc49e0ac8.png">

### Next steps:
1. Shixie set up time to con

[2020-05-18 17:36] larahanlon2 commented on #38
Working session scheduled with James, Kenny, Shixie and Lara on Thursday May 21 to continue this work.

[2020-05-18 19:19] larahanlon2 commented on #33
Added 3 Box folders for these work items under [Anatomy and Foundation](https://ibm.ent.box.com/folder/83745317622).

[2020-05-19 14:24] JennySanchez commented on #48
**Note:**
In the past, we used Hotjar for NPS tracking then add the outcome into an [Excel document](https://ibm.box.com/v/DDS-Heatmap-Summary) and the process is fairly complex (see reference below).
![Screenshot_2020-05-19 DDS Hotjar Heatmaps xlsx Powered by Box](https://user-images.githubusercontent.com/45213839/82338319-5d7e2d00-99b2-11ea-8632-51bc19efe0ff.png)

[2020-05-19 19:11] RobertaJHahn opened #49 "Lightbox Media Viewer close icon study and design solution"
### Objective

During the testing of the Lightbox Media Viewer in the ibm.com v1.7.0 release (May 2020), the Prod QA testing team logged a defect because the close icon overlaps the scroll bar for certain break points.  The designers should consider the possible solutions, perform studies and provide design direction to the developers.

This work is related to the [bug 2187](https://app.zenhub.com

[2020-05-20 16:10] larahanlon2 commented on #34
Added a few other internal examples of dark masthead in use on dotcom today including:
- Think
- Developer
- Accessibility
- IBM Design (all)

[2020-05-20 17:23] larahanlon2 commented on #38
We may not need to review sub-patterns as per Jeff and dev team latest update, May 20:

If this change is agreed to we will not have sub-patterns moving forward. However, we will need to ensure the new components fit into the definition of components as we know it. We may need to reshuffle again if some of the current sub-patterns are too complex for components. TBC.

[2020-05-20 19:53] wonilsuhibm opened #51 "Global banner design standards"
### Objectives
We need some level of standardization around the above-masthead banner.

[2020-05-20 19:54] wonilsuhibm commented on #51
![image](https://user-images.githubusercontent.com/30183447/82491057-21ca8c80-9ab2-11ea-854f-51f981de5c3b.png)

[2020-05-20 19:55] wonilsuhibm commented on #51
<img width="1178" alt="Screen Shot 2020-05-20 at 3 55 36 PM" src="https://user-images.githubusercontent.com/30183447/82491216-5b9b9300-9ab2-11ea-900d-b65253ec706d.png">

[2020-05-21 18:03] sethibm commented on #35
-------------------------------------
Notes: 5/18
-------------------------------------

Met with James and Jeff re: questions on spacing resolution from 5/11, for technical review / input.  

Jeff suggested that it would be difficult to have only zero padding on top and bottom of patterns, leading to requirement for adopter to set the spacing between larger level patterns on their own.   We could

[2020-05-21 19:42] jacobottesen-dgc commented on #27
Text script can be found in in box here: https://ibm.box.com/s/4uv5w8k4mz6lm0axk3scjnywlq7tlbv1

Olivia and I will be testing the test script with Tam on the UMX team Friday May 22nd.

[2020-05-21 19:42] jacobottesen-dgc commented on #23
Text script can be found in in box here: https://ibm.box.com/s/4uv5w8k4mz6lm0axk3scjnywlq7tlbv1

Olivia and I will be testing the test script with Tam on the UMX team Friday May 22nd.

[2020-05-22 15:06] wonilsuhibm opened #52 "Mega menu design"
### user story
As a user of IBM.com, I'd like to navigate in a way where I can have an eagle's eye view of all that is available and identify what I am looking for.

[2020-05-22 15:23] wonilsuhibm commented on #52
### Nielsen Norman Group
https://www.nngroup.com/articles/mega-menus-work-well/

### Type of megamenus
https://siteiq.net/16505/best-practice-5-mega-menu-styles-and-the-12-sites-that-do-it-best

[2020-05-23 15:34] JennySanchez opened #53 "Website traffic tracking (As-Is) tooling research"
### Objectives
This task is to understand the current (As-Is) Website traffic tracking methodology and what impact it brings to the growth measurement of the website.

[2020-05-23 15:39] JennySanchez opened #54 "Website traffic tracking tooling research"
### Objectives
This task is to look at the Website traffic tracking methodology and tools in the industry so we can find the best tool for us to see the growth measurement of the website.

**NOTE:** The tool needs to be IBM approved before implementation.

[2020-05-23 15:40] JennySanchez commented on #53
(05/19)

- In the past, we used Hotjar for NPS tracking then add the outcome into an [Excel document](https://ibm.box.com/v/DDS-Heatmap-Summary) and the process is fairly complex (see reference below).

![Screenshot_2020-05-19 DDS Hotjar Heatmaps xlsx Powered by Box](https://user-images.githubusercontent.com/45213839/82338319-5d7e2d00-99b2-11ea-8632-51bc19efe0ff.png)

- The Carbon Team is using [F

[2020-05-23 15:44] JennySanchez commented on #54
Talk to Matt and learn...

- [ ] What are the traffic tracking goals for the Carbon website?
- [ ] Why did he decide to use Fathom?
- [ ] What are the Pros and Cons of using Fathom for traffic tracking?

---

The Carbon Team is using [Fathom](https://app.usefathom.com/share/vmsgxqrs/carbondesignsystem.com#/?from=2020-04-21%2000%3A00%3A00&site=2285&to=2020-04-28%2023%3A59%3A59) to collect data on t

[2020-05-23 15:54] JennySanchez commented on #54
Talk to Scott Strubberg and learn...

- [ ] What are the IBM approved tools for NPS tracking?
- [ ] Share our objectives and see if he has any recommendations?

---
Scott built [Design Toolbox](http://designtoolbox.w3ibm.mybluemix.net/#/) hub last year as an open-contribution site for the tracking of software titles and services that we need to get our job done. He also knows a lot of tooling usag

[2020-05-23 16:10] JennySanchez opened #55 "Create publishing criteria for Patterns and Components website pages"
### Objective

The website stream is working on the content publishing roadmap for the website so we know what content we are going to publish. Even we have a list of the patterns and components (see below), it requires prioritization criteria from the stream leads (Olivia for Components and Lara for Patterns) **so we know what we can consider as "ready" for content crafting and placed in an upcom

[2020-05-23 16:12] JennySanchez commented on #55
@oliviaflory @larahanlon2 FYI on this task existed. If you have prioritization criteria in mind already, please feel free to add it here.

[2020-05-23 16:16] JennySanchez opened #56 "Early adopter starter kit development"
### User story
As an early adopter, I need some self-service guidelines on how to design my new pages.

### Notes
For the cake cup version of the adopter kit, let's at least make sure the items in [adopter starter kit folder](https://ibm.box.com/s/ji9d47sf6r2e4z3vdhjuq2uk4ko02i65) are up to date and decided the path on how the adopter can get to it.

### Tasks/Steps

1. Learn and understand the ad

[2020-05-26 15:04] sethibm commented on #35
This story is at a point of a few blockers.  1) team is so busy...hard to absorb input from design + dev 2) no time on calendars for this group to meet in less than week's time 3) pending ontology work will likely have effects on spacing

Some progress has occurred since starting, but achieving goals of work remains elusive. Pausing meanwhile and will work on other Ideation stories.

[2020-05-26 15:11] oliviaflory commented on #8
Shared expressive token audit Sketch file with Carbon on Friday, May 22nd. Akira had shared the PR with Carbon a week previously.

The Carbon team has a tight deadline for Phil this week, so they might not have time to review yet.

[2020-05-26 15:19] wonilsuhibm commented on #35
@sethibm Thank you, Seth. Let's hold off on spending any more time on this ticket, and please focus on the other stories, starting with the spec standards story.

[2020-05-26 15:20] oliviaflory commented on #42
closing this test issue

[2020-05-26 15:20] #42 closed

[2020-05-26 17:14] oliviaflory commented on #55
### Components
Here is my first take on it based on the list and mural from before.

1. Table of Contents _(TBD component or pattern)_
2. Locale selector / modal  _(I don't really think this is important considering no one is using this yet, but saw it had a star from Linda or Wonil, so left it here)_
3. Link with icon
4. Video player _(I see a LOT of questions about this one on our channels, it w

[2020-05-26 17:54] wonilsuhibm commented on #37
A quick thought on the organization of the style model section on a [Mural board](https://app.mural.co/invitation/mural/wonilsworkspace4185/1590001834805?sender=wonilsuh19286&key=3fa4f652-2885-41df-b011-10b953d485bc)

[2020-05-26 18:03] wonilsuhibm opened #57 "Login page (URX) design"
### Objectives
URX team is looking into updating their current login page design, inspired by the Cloud login page and Carbon login patterns.

### Notes
These are from the URX team:
Current URX/IBMid Login Experience: https://www.ibm.com/account/reg/us-en/login?formid=urx-19776
Work in Progress: https://pages.github.ibm.com/dgc-web-platform/login-ui-carbon/

[2020-05-26 18:09] larahanlon2 commented on #38
Jeff opened an issue to move sub-patterns to components. See issue on Agile board: https://github.com/carbon-design-system/ibm-dotcom-library/issues/2467

### Considerations:

- We (patterns core team + Olivia) will need to evaluate the new components after this change. We need to understand if we need new labels or sub-categorizations within components. eg. `Compound components` or `layout compon

[2020-05-27 16:42] larahanlon2 commented on #46
## Summary of the final review of Mural board:

**Most of us gravitated toward to-be option 1 in Mural:**
- move sub-patterns into components (engineering already doing this)
- move all content blocks, content groups, and sections under the category of blocks
- use the term patterns to describe the overall user experience, goal or design intent eg. page introduction / long-form reading.

– Based o

[2020-05-28 13:54] wonilsuhibm opened #58 "IBM.com Library : Pattern and Template Inventory"
As discussed, this is to support the following two audience groups:
- Executive stakeholders
- Content strategists (there are new content strategists who need to know what patterns exist, and this need is immediate)

The plan
- Create a single page Invision prototype with three sections:
   - Section 1: collection of all top level patterns, each linked to the corresponding storybook page
   - Sect

[2020-05-28 14:20] larahanlon2 commented on #38
Closing this issue as Kenny has made the change to move sub-patterns to components. Comment above still remains but we will address this with #46

[2020-05-28 14:20] #38 closed

[2020-05-28 14:52] JennySanchez opened #59 "Content Publishing - Guidelines (14 Photograph Guideline)"
@JennySanchez commented on [Tue Feb 18 2020](https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/334)

#### Tasks
- [ ] Publish IBM.com Library photograph related information to the website.
- IBM.com Library photograph BOX folder and Read Me links
- Guideline on how to get image approved and purchased

#### Acceptance criteria
- [ ] Content published to the live website

---

[2020-05-28 14:56] JennySanchez opened #60 "Planning for Pattern ontology content publishing on the website"
@JennySanchez commented on [Mon Mar 23 2020](https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/372)

(Task created as one of the action items from the Gatsby Theme website building process retro #242).

#### Task
- [ ] Discuss what we should provide to our adopters around the ontology work.
- [ ] Decided what we need to publish.

#### Acceptance criteria
- [ ] Have a clear

[2020-05-28 14:56] JennySanchez opened #61 "Planning for create website artwork and visual reference guideline"
@JennySanchez commented on [Mon Mar 23 2020](https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/371)

(Task created as one of the action items from the Gatsby Theme website building process retro #242).

#### Task
- [x] Do research around what visual references we have on the website.
- [x] Decided what we need to include in the guideline.

#### Acceptance criteria
- [x] Hav

[2020-05-29 14:08] jacobottesen-dgc commented on #29
Tested desktop prototype on 05/28

[2020-06-01 19:18] JennySanchez commented on #43
**Update:** Playback session scheduled for 05/03.

[2020-06-01 19:26] JennySanchez opened #62 "Planning for Early adopter starter kit development"
#### Objective

The website stream is developing the Early adopter starter kit. Even we have a list of the collective Sketch files and resources, we need to understand what we should include in the kit and how can the adopters access the folder so we can craft the best experience for the adopters.

#### Tasks
- [x] Understand the adopter's needs for getting started and how the current experience i

[2020-06-01 19:31] JennySanchez opened #63 "Updating or creating resources for the Early adopter starter kit"
#### Objective

The website stream is developing the Early adopter starter kit. We need to make sure we have the up to date resource files in the kit.

#### Tasks
- [x] Create a list of what documents are included and what they for so the adopters know which file to use.
- [x] Updating and working on the resources files we need to include in the early adopter starter kit.
- [x] Review the kit with

[2020-06-01 19:34] JennySanchez opened #64 "Release the Early adopter starter kit"
#### Objective

The website stream is developing the Early adopter starter kit. We need to make release announcements so adopters can start using the kit.

#### Tasks
- [x] Go over the kit with the team
- [x] Make announcements for adopters to use the kit.

[2020-06-01 19:48] JennySanchez commented on #55
Hi @oliviaflory Prioritization criteria I am looking for is the list of criteria we need to have and meet in order to say "Yes, we are ready to work on the content for this X component to be published on the website". For example, it needs to be React code ready, it needs to pass the QA by the QA team, or it needs to be reviewed by the Cabron team).

[2020-06-01 19:50] JennySanchez commented on #20
**Update:** Playback session scheduled for 05/03.

[2020-06-01 20:52] JennySanchez commented on #43
**Findings:** Overall, the outcome from the stream leads, and designers are almost one to one with the To-Be sitemap.

![Screen Shot 2020-06-01 at 3 51 10 PM](https://user-images.githubusercontent.com/45213839/83453314-e3bd5900-a41f-11ea-831c-84491977da83.png)

[2020-06-02 16:55] larahanlon2 opened #65 "Explore the meaning of ontology"
### Problem: 

- The word ontology is causing confusion between DDS team members and adopters.
- This finding has been surfaced in multiple conversations and collaboration sessions.

### Goals:

1. Understand how team members and adopters understand the word ontology.
2. Identify where we are using the word ontology in our process.
3. Explore a solution: do we need to replace the word? Do we need

[2020-06-02 16:59] larahanlon2 commented on #65
James, Kenny, Shixie and I have been having ongoing discussions and working sessions to understand and evolve the ontology. **A continual pain point that keeps coming up is that we (and other team members) do not have a clear understanding of the meaning of ontology or why we need this term.**

Examples of pain point and ideation findings:
<img width="665" alt="Screen Shot 2020-06-02 at 12 57 59 P

[2020-06-02 17:03] larahanlon2 commented on #65
### Alt names we explored to replace the word ontology:
1. Anatomy
2. Frame
3. Foundation
4. Structure
5. Assembly
6. Functional framework

### Current point of view:
After review of all known process documents for DDS and Reboot team, interview with team members, review with the patterns core team (James, Shixie, Kenny, Lara), **we are proposing to remove the name ontology with no replacement.**

[2020-06-03 12:53] wonilsuhibm commented on #65
Thank you.

Re removing ontology completely, one question—in the new structure/organization of patterns and components, is the act of defining relationships between things still necessary? If so, I'd suggest that we still give it a name. Currently, that ontology process is a necessary step and needs to have a name because it needs to be incorporated into plans.

Replacement: functional analysis so

[2020-06-03 21:04] wonilsuhibm opened #68 "Micro footer"

[2020-06-03 21:21] JennySanchez commented on #20
:point_right: The MVP content structure Mural for playback can be viewed [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1589488541451?sender=jacobottesen7512&key=a0e8258c-15d5-43ec-9bb8-755077f00750).

:point_right: The next step is for the stream leads to craft the To-Be content structure and used as a template for content publishing by the team.

[2020-06-04 13:53] wonilsuhibm opened #69 "Footer v2"
### User story
As an IBM.com user, I would like to see what else is available on IBM.com once I finish consuming the content of a page.

### Notes
We have a footer design that we inherited from Northstar, but the content is a few years old and the specific requirements are not clear at the moment. This epic is to look into the content, requirements, and potential solutions if necessary.

[2020-06-04 14:20] RobertaJHahn commented on #40
@JennySanchez  how to use the layout component should be included in the Development Documentation guidelines section of the website.

[2020-06-04 14:34] JennySanchez commented on #40
@RobertaJHahn I am not sure what you mean?

What we are looking at here is the strategy for creating a pattern page on the website and around what a particular pattern is, how to use the pattern in a scenario, and the development section typically looks like the screenshot below, if you like, please see the [Lead Space page](https://www.ibm.com/standards/web/ibm-dotcom-library/patterns/leadspace)

[2020-06-04 14:44] JennySanchez commented on #39
@oliviaflory As mentioned yesterday, all the material shared via the Mural boards from #43 and #20 is available for you. Please see the Acceptance criteria section above for task expectation and let me know if you have any questions.

[2020-06-04 14:44] JennySanchez commented on #40
@larahanlon2 @sethibm As mentioned yesterday, all the material shared via the Mural boards from #43 and #20 is available for you. Please see the Acceptance criteria section above for task expectation and let me know if you have any questions.

[2020-06-04 21:01] sethibm commented on #58
Iteration #1 of this project had two options, one with all project goals on one artboard in Sketch (also Invision), the other building a UI setup and navigation across the three key areas.  Seth and Wonil reviewed both and picked UI setup.

Currently wrapping up iteration #2 of the Invision prototype and will share with Wonil, ideally share with team asap for input, feedback.

[2020-06-05 21:58] JennySanchez opened #70 "(process imporvement) Learn how to work efficiently with the local environment for content publishing"
#### Objective:

In order to view the published content or changes efficiently, the website stream designer needs to learn how to work on publishing in a local environment.

#### Steps

Timeline: Q2, before 06/30.

#### Note
Atom and Terminal are what I am thinking.

[2020-06-08 18:45] jacobottesen-dgc commented on #29
Test insights:
https://ibm.box.com/s/qgoe6q9txcvh6tsan6fg0di1md4yylqd

[2020-06-08 18:46] jacobottesen-dgc commented on #24
Test insights:
https://ibm.box.com/s/qgoe6q9txcvh6tsan6fg0di1md4yylqd

[2020-06-09 14:04] sethibm commented on #58
- Iteration 2 and 3 completed, shown to Wonil and then DDS team.  Changes included adapting all spacing, type and icons to IDL / Carbon, because the UI framework is from a design used last year for IBM Industries

- Showed iteration 2 on Sprint Review meeting 6/9.

- Currently showing iteration 3 to Reboot team, collecting comments in Invision and communicating on Slack towards a next iteration.

[2020-06-09 15:20] JennySanchez commented on #20
@wonilsuhibm I am glad we get to take a look at the content priority together yesterday. Please let me know if the list looks good to you and if there's anything we need to flag or move before sharing with the team.

[2020-06-09 15:26] JennySanchez commented on #55
@larahanlon2 I am glad we get to touch on the expectation of this task. Please let me know if you have any further questions or if you need anything to start the task.

[2020-06-09 15:33] JennySanchez commented on #43
Task completed and priority will be confirmed and shared via #20. We will continually use the Mural as a resource for further discussion.

[2020-06-09 15:42] JennySanchez commented on #70
@jacobottesen-dgc As discussed, we will set up a call with Kenny next week and start the learning session.

[2020-06-10 15:40] sethibm opened #71 "IBM.com Library Pattern Naming Issues"
There are issues with pattern naming that Seth and Shixie have noted, and likely need resolution asap, handling downstream effects on code side, and to update and / or create the source of truth and guidance document for IBM.com Library Naming.

Key issues:

- In code, some patterns use Title Case (with spaces) and others use CamelCase (no spaces).  This needs to be universal, as one or the other.

[2020-06-11 13:49] jacobottesen-dgc opened #72 "Locale change banner design iterations"

[2020-06-11 16:30] sethibm commented on #71
@ljcarot @wonilsuhibm @shixiedesign
Notes looking at Airtable compared to Storybook Experimental (where the most of the current patterns sit):

**Link with Icon**
Not shown in Airtable.  In Title Case for code name, should be CamelCase?

**Expressive Modal**
Not shown in Airtable.  In Title Case for code name, should be CamelCase?

**Locale Modal**
In Title Case for code name, should be CamelCase?

[2020-06-12 14:04] sethibm commented on #58
- Iteration 4 and 5 complete.  Included full review of all comments from first round of input from DDS and Reboot teams.  Design changes included removal of top black and grey bar backgrounds and column names for "Variations" and "Notes"

- Waiting on input from @photodow re: pattern naming and functional analyst perspective.

- No input from developers yet, but Jeff is aware and asked questions a

[2020-06-12 14:24] jacobottesen-dgc commented on #62
- Interviewed a partner adopters - Tam & Annmarie on June 12th
- Scheduled sync up meeting with Wonil for June 15th

[2020-06-12 14:25] jacobottesen-dgc commented on #72
- Sync up with Olivia, Lara, James on testing feedback on June 11th
- Need to meet with Kenny/Jeff and Tina about translation

[2020-06-12 14:32] wonilsuhibm opened #73 "Design QA process"
Update the design processes for Reboot and DDS teams:
- Design specs
- Design QA process

[2020-06-12 15:42] jacobottesen-dgc commented on #62
- Interviewed Reda, Sina, Edwy (partner adopters) for the adopter starter kit on June 12th

[2020-06-12 17:26] wonilsuhibm commented on #20
@JennySanchez Overall, this sounds good to me.

[2020-06-15 14:54] JennySanchez commented on #62
@jacobottesen-dgc Can you share the adopter finding documents here? Thanks!

[2020-06-15 15:18] JennySanchez commented on #55
**Note:**
- For Components, We ONLY publish the components that is "ready to be used".
- For Pattern website pages, MVP could be as long as the Pattern design is approved by the stakeholder.

[2020-06-15 16:50] JennySanchez commented on #55
👉  **Components and Pattern publishing criteria** [BOX document](https://ibm.box.com/s/y3r76vpk0dem15o8d80w53r9dyuy8bvq) created for the list and collaboration.

[2020-06-15 19:03] JennySanchez commented on #53
**Note:** Followed up with Matt on Thursday (06/11), even the Carbon Team is using Fathom to collect data on the Carob Website, he found the tool is not meeting the need but seeing which page has more visitor and they might move back to Hotjar.

[2020-06-15 19:07] JennySanchez commented on #70
**FYI:** @jacobottesen-dgc Learning session scheduled for 06/22 1:30 pm CST.

[2020-06-16 14:41] jacobottesen-dgc commented on #62
cc. @JennySanchez

Here is the Mural board with adopter insights: https://app.mural.co/t/digitaldesignsystemsquadwork2176/m/digitaldesignsystemsquadwork2176/1592233324885/2acaf91ca313ab336bbdc274a34093b8419475e7

[2020-06-16 18:49] JennySanchez commented on #41
Ideation and work can be viewed on **DDS website: Content strategy for guideline** [Mural board](https://app.mural.co/invitation/mural/ibm14/1592333015860?sender=chsanche&key=b4cb91b6-cae6-4298-b0b9-b07264b7e2d2).

[2020-06-16 20:07] JennySanchez commented on #41
@wonilsuhibm Below is the draft of the Guideline section content structure. I am having a hard time purposing the sections for the MVP version since I think they are all important ( 😓 omg, I know). Can you share your thoughts?

![Screen Shot 2020-06-16 at 2 52 41 PM](https://user-images.githubusercontent.com/45213839/84822745-d4730980-afe2-11ea-9a06-d5bc934a9d73.png)

[2020-06-17 16:39] jacobottesen-dgc commented on #72
In meeting with Kenny is explained to Olivia and I that logic of redirecting the user from their default language in laptop setting/browser doesn't make sense. The use case he brought up was "If you are living in the US and travel to China, you wouldn't open your laptop and want to view all webpages in Mandarin. You would want webpages in the language that you have set in your browser/laptop."

-

[2020-06-17 16:39] jacobottesen-dgc commented on #62
Meeting schedule for June 17th to discuss insights from adopters and next steps.

[2020-06-17 20:27] JennySanchez commented on #66
**Note:** A filter feature will be great for the library. The search filters can be around

- Component
- Color theme
- Pattern
- IBM.com style model type

[2020-06-17 21:42] JennySanchez commented on #41
**Based on the publishing priority outcome** - see below and on the [Mural board](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1579113436354?sender=chsanche&key=26c3f47a-f226-44aa-bee7-223107a17b94)
![Screen Shot 2020-06-01 at 3 51 10 PM](https://user-images.githubusercontent.com/45213839/84953352-fd65ce00-b0b8-11ea-8f40-867c1902e8a0.png)

**Prioritized list of components

[2020-06-18 13:34] larahanlon2 opened #74 "Gather feedback on patterns organization prototypes"
### User story
As a member of our team (DDS or Reboot) I need to understand how patterns are organized and what they are named so I can choose the right pattern for my design needs or contribute to the system.

### Objectives
We need to validate some of the ideas and proposals for reorganizing patterns.

### Tasks
- [x] Playback prototypes with DDS team
- [x] Playback prototypes with Reboot design

[2020-06-19 19:45] JennySanchez opened #75 "Create publishing priority list for current inventory"
#### Objective

We currently have 43 total of components and layout patterns in the [Storybook](https://ibmdotcom-react.mybluemix.net/?path=/story/overview-get-started--default). We need to have a clear view of which ones are meeting the publishing criteria (#55) so we can start the publishing process as soon as we can to bring the content to adopters through the website.

#### Task

- [x] Have th

[2020-06-19 21:10] jacobottesen-dgc commented on #72
Meeting been scheduled on June 24th with Tina, Linda, Jeff, Kenny, Lara and Olivia to discuss issues withe locale banner logic.

[2020-06-19 21:16] jacobottesen-dgc commented on #63
Started working on a list of IBM design sites in Box note: https://ibm.box.com/s/185hpqq84pt77dkx8v6mzq2dt271bzsd

[2020-06-19 21:33] jacobottesen-dgc commented on #62
Box note with next steps for starter kit: https://ibm.box.com/s/9i5zwckrl1nv8pk2tf7dy7tkxd8r4h1u

[2020-06-22 13:36] oliviaflory commented on #52
Research readout recording: https://ibm.ent.box.com/notes/680941516790

[2020-06-22 15:49] sethibm commented on #58
- Found out today some links in the prototype are not going to the correct Storybook version of pattern.  Going to update.

- Also trying to deep link to pattern variations shown on Invision, but cannot currently.  Devs showed how to Copy code so it plugs in variables within the browser, but Invision says this kind of URL is invalid.  Logged support request with Invision to help solve

- Also fini

[2020-06-22 20:50] JennySanchez opened #76 "IBM.com style model updates"
#### Objective
This epic is to conduct a series of activities in order to update the existing style models framework with the following focus areas

- Review existing style models
- Audit more IBM pages
- Audit more competitor pages
- Update the design intent list

#### Box folder
https://ibm.box.com/s/fz1psf2uc9iifl86xv5o72zwm4lqhyl4

#### Potential Tasks
- [x] Review IBM.com style model work fro

[2020-06-22 20:51] JennySanchez opened #77 "IBM.com style model work - stakholder interviews planning and set up"
#### Objective
(Coming soon - Wonil)

#### Tasks
- [x] Develop a list to interview
- [x] Conduct interviews
- [x] Synthesize interview findings and spot 3-4 areas of scaling, expansion, growth of the style model

#### Acceptance criteria:
- [x] Provide a synthesized list for scaling, expansion, growth of the style model

[2020-06-23 13:19] jacobottesen-dgc commented on #63
Mural board with next steps https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1592849977529?sender=jacobottesen7512&key=f0141688-cc36-4e65-9bf0-44802b9166b7

Currently working on:

- Contact & Approvals box note
- Updated READme
- Getting started folder

[2020-06-23 14:20] oliviaflory commented on #8
Update: after reviewing Akira's PR the Carbon team has determined they do not have the bandwidth to support the expressive tokens and components.

We will be moving forward with a proxy approach, and closing this issue

[2020-06-23 14:20] #8 closed

[2020-06-23 15:55] sethibm commented on #58
@wonilsuhibm Fyi, all links in this prototype are now updated to the latest Storybook, after some chats with devs to make sure they are correct.  LeadSpaceBlock and LogoGrid are the only ones remaining to update, which can happen later today (waiting on v1.8.0 to publish with them).

Otherwise it's up to date and can continue to be shared.

Only other thing is minor...dealing with Invision to see

[2020-06-24 14:35] sethibm opened #78 "DDS Source of Truth | Design + Dev"
### Objectives
Create a singular source of truth document for DDS team, that can be used for onboarding any new team members, and allow current team members one location where all relevant, key links to team organization, Storybook, Zenhub board, folders, box files, etc can be found and used.

**Goals**

- Reduce confusion
- Reduce time spent looking for links, folders and documents
- Clarify team

[2020-06-24 16:43] JennySanchez commented on #70
**Update:** Rescheduled for 06/29.

[2020-06-24 17:34] sethibm commented on #78
@JennySanchez How does this look for task and goals?

[2020-06-25 13:41] wonilsuhibm commented on #78
@jeffchew @sethibm how would you feel about adding this to the read me file of our two boards?

The agile board
https://github.com/carbon-design-system/ibm-dotcom-library/blob/master/README.md

The ideation board
https://github.com/carbon-design-system/digital-design-ideation/blob/master/README.md

[2020-06-25 14:38] JennySanchez commented on #78
@sethibm Thank you for putting this togehter.

A few more resources to share with you to support the task:

**DDS Onboarding Checklist**
https://ibm.box.com/s/cameidzxkkihcziok3m0n7o0f35g0sri

**2020 DDS Team member onboarding experience improvement ideation**
https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1579122568543?sender=chsanche&key=a949136c-920b-4aee-949d-35fd2fde51

[2020-06-25 19:20] JennySanchez commented on #75
**Task status as 06/25**

![Screen Shot 2020-06-25 at 1 40 31 PM](https://user-images.githubusercontent.com/45213839/85785463-f0676100-b6ee-11ea-812d-b88f3cfa5f14.png)

[2020-06-25 21:31] JennySanchez commented on #70
Reminder @jacobottesen-dgc

Two apps to download before the learning session begin from Kenny:

https://desktop.github.com/
https://code.visualstudio.com/

[2020-06-26 18:44] wonilsuhibm opened #79 "Style model: review the current model"
https://ibm.box.com/s/nqendkjr8jroxcsk86xh5qkfymxzvww3

[2020-06-26 18:50] wonilsuhibm opened #80 "IBM.com style model: audit more IBM pages"
### Objective

We have the following design intents (hypothesis)
- Landing page
   - Eg) [home page](https://www.ibm.com/us-en/?ar=1)
   - Eg) [Topic landing page, Services](https://www.ibm.com/services?lnk=hpmse_ts&lnk2=learn)
- Navigational
   - Eg) [Products](https://www.ibm.com/products?lnk=hpmpr&lnk2=learn)
- Reading
   - Eg) [IBM.org](https://www.ibm.com/blogs/corporate-social-responsibility

[2020-06-26 19:44] wonilsuhibm opened #81 "Spacing audit"
### Objective
This story is to look at the existing patterns, with the goal of creating the following items:
- A system of types of spaces matched to components. Examples: container padding, outer spacing, inner spacing, gutter between repeating items, type pairing, etc. These are just random examples. This story is to find the right system(s) of classification.
- Dimensions/factors to consider

[2020-06-26 19:44] wonilsuhibm opened #82 "Identify spacing tokens"
- A set of tokens for repeating spaces
- A collection of bespoke spaces (one-offs, two-offs)

[2020-06-26 19:45] wonilsuhibm opened #83 "Spacing standards"

[2020-06-29 15:31] larahanlon2 commented on #46
**Here is the first prototype:**
https://ibm.invisionapp.com/share/2PO04US6CX9#/319576735_Patterns-Tobe-Cover

- Sections include components (coded things) and patterns (guidelines)
- The goal was to show how we might organize and present patterns and components to our adopters.
- It is informed by user research, team collaboration, and industry audits.
- This iteration proposes that we move all o

[2020-06-29 15:32] larahanlon2 commented on #46
Closing this issue as the exploratory work items are complete.

[2020-06-29 15:32] #46 closed

[2020-06-29 15:33] larahanlon2 commented on #65
As agreed by the majority of the team including Linda and Jeff (and Reboot), we are going to try and stop using the word/term ontology. We will refer to the steps as they are eg. design review, patterns design planning, dev review, functional analysis. If we find that we need a replacement word we are considering **pattern analysis**.

[2020-06-29 15:33] #65 closed

[2020-06-29 15:39] larahanlon2 opened #84 "Identify potential subcategories for components"
### Objective
If we are moving current patterns into components based on the latest prototypes we need to consider the different types of components that will be in the library. Subcategories may help adopters to understand and find the type of component they need.

### Tasks
- [ ] Explore different ways of sub categorizing components and patterns
- [ ] Test labels with DDS and Reboot team members

[2020-06-29 15:43] larahanlon2 commented on #84
See [Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1592925542873?sender=larahanlon9022&key=3e99fc46-6800-44a7-bfcf-b4a5e9e75e85) for potential sub-categories. Feedback so far:

**Simple + Complex** is favored by many team members due to the simplicity of language. However, this many not be explicit enough for new adopters to understand. Does this reflect the mindset

[2020-06-29 22:12] JennySanchez opened #85 "Create an MVP Content crafting template for the DDS Team"
### As an IBM.com library team member, I need a template to help me get started with the website content crafting, so I can know what I need to include when publishing a website page and work efficiently

### Tasks

- Create the template
- Share the template with DDS team members for feedback
- Finalize the template

### Acceptance criteria
- [x] Have the template saved in BOX and ready to share a

[2020-06-30 14:53] jacobottesen-dgc commented on #63
Contact list & org chart are finished: https://ibm.box.com/s/i263vhtnljgyrfachw072ap6f5lz9rxp

[2020-06-30 16:10] JennySanchez commented on #70
Learning (Very Awesome!) done and will do follow up with Kenny in a few months for questions as needed.

[2020-06-30 16:16] JennySanchez opened #86 "Ideation: Website task work process, tooling improvement, and content update cadence/schedule"
### Task

- [ ] Get feedback from the team members around what I need to make improvements on when it comes to processing and tooling for website publishing.
- [ ] Research how others internally and externally work around the challenge.
- [ ] Try the possible solutions.

### Acceptance criteria
- [ ] Make improvements through time and share findings with the DDS team members and leadership team.

[2020-06-30 16:19] JennySanchez commented on #86
@jacobottesen-dgc Please feel free to create any subtasks (and linked to this EPIC) you would like us to work on or try around process and tooling improvement.

[2020-06-30 19:24] oscardumlao-ibm commented on #80
Update: 30 pages logged across Cloud, Developer, and smaller IBM.com subgroups. New Intent proposed, "Blogs", for blog homepages that link to editorial content.

[2020-07-01 18:34] JennySanchez commented on #85
MVP Content Template is ready to go over with the team and the work file (IBM.com Library Cupcake Website - Content Template (MVP) can be found in the [BOX folder](https://ibm.box.com/s/z6xky01f3t8tzn7behntwsmkri4iz1x0).

![Screen Shot 2020-07-01 at 1 25 18 PM](https://user-images.githubusercontent.com/45213839/86279074-0d90a980-bb9f-11ea-8d8b-0a2b890b30e2.png)

[2020-07-02 13:18] larahanlon2 opened #87 "Determine pattern partnership with Cloud"
We (DDS and Reboot) will be working closely with Cloud to adopt/scale their current patterns. Everything they have is currently v19a so we need a way to migrate to Carbon and make their designs available to other adopter of IBM.com Library.

[2020-07-02 18:27] oscardumlao-ibm commented on #80
Update: 90 pages logged through to some of the stretch IBM.com properties. "Blogs" renamed to "Listing" for more general application, and matching Wonil's Sketch file. A summary deck is in progress.

[2020-07-06 19:57] JennySanchez commented on #85
**Task update:**
- Went over the template with DDS team members today during Sprint 20-13 demo.
- Add the exporting image size to the image areas.

![Screen Shot 2020-07-06 at 11 55 48 AM](https://user-images.githubusercontent.com/45213839/86635569-dbb18580-bf98-11ea-91d3-3284ea2b4456.png)

[2020-07-06 20:04] sethibm commented on #81
Noting this related issue with the Linklist here.  Current spacing audit focuses on vertical padding, and this is a horizontal padding issue.  Deserves some attention, in terms of overall relational planning issue between components, at the template level.

In this case, it's how to handle the container for the right side element like LinkList.  At the moment, the 8 column is essentially colliding

[2020-07-06 20:05] JennySanchez commented on #55
@wonilsuhibm Components and Patterns publishing criteria is ready for review. You can view them via 1. [BOX document](https://ibm.box.com/s/y3r76vpk0dem15o8d80w53r9dyuy8bvq) or 2. [Mural document](https://app.mural.co/invitation/mural/ibm14/1592586700298?sender=chsanche&key=0f7c3917-398c-4fc0-a429-ebe8667b20ad).

Let me know if you have any questions.

[2020-07-06 20:12] larahanlon2 opened #88 "Conduct audit of Hybrid Cloud component library"
### User story

As a member of DDS team I need to understand what components/patterns are available via the [HC component library](https://pages.github.ibm.com/MSC-Cloud/hc_fractal/components/detail/text--default.html) so that I can determine what we can/should adopt into the IBM.com Library.

### Additional notes

Hybrid Cloud have many components and modules available via v19a. Many of these wou

[2020-07-06 20:12] larahanlon2 commented on #88
FYI @wonilsuhibm @jeffchew

[2020-07-06 22:51] JennySanchez opened #89 "🥩 IBM.com style model work - stakeholder interview (Elliott Trice) (scheduled 07/13)"
### [Elliott Trice](https://w3.ibm.com/bluepages/profile.html?uid=5G5141897)
![Screen Shot 2020-07-06 at 5 42 38 PM](https://user-images.githubusercontent.com/45213839/86792047-b6238b00-c02f-11ea-95dd-19158afa6580.png)

Product Owner, IBM.com Reboot
IBM Cloud and Cognitive Software

---

### Note

Elliott is the former head of DGC design and the current product owner of the IBM.com Reboot project.

[2020-07-06 22:54] JennySanchez opened #90 "🥩 IBM.com style model work - stakeholder interview (Nigel Prentice) (scheduled 07/13)"
### [Nigel Prentice](https://w3.ibm.com/bluepages/profile.html?uid=4G2167897)
![Screen Shot 2020-07-06 at 5 53 50 PM](https://user-images.githubusercontent.com/45213839/86792922-917be300-c030-11ea-878b-d4437e2d065c.png)

Design Director, Digital Growth & Commerce; F&O Support Experiences
IBM Cloud and Cognitive Software

---

### Note

Nigel Prentice is the head of DGC design. As such, he oversees

[2020-07-06 22:57] JennySanchez opened #91 "🥩 IBM.com style model work - stakeholder interview (Linda Carotenuto) (scheduled 07/09)"
### [Linda Carotenuto](https://w3.ibm.com/bluepages/profile.html?uid=L06810897)

![Screen Shot 2020-07-06 at 5 57 26 PM](https://user-images.githubusercontent.com/45213839/86793002-a48eb300-c030-11ea-901e-52b37dc601f4.png)

Offering Manager - Digital Design Squad - Carbon for ibm.com
IBM Cloud and Cognitive Software

---

### Note

Linda is a long time IBMer with deep experiences and knowledge aro

[2020-07-06 22:59] JennySanchez opened #92 "🥩 IBM.com style model work - stakeholder interview (Mike Abbink) (scheduled 07/14)"
### [Mike Abbink](https://w3.ibm.com/bluepages/profile.html?uid=5G0964897)

![Screen Shot 2020-07-06 at 5 59 14 PM](https://user-images.githubusercontent.com/45213839/86793190-d56ee800-c030-11ea-8027-a42b578fc5f1.png)

IBM Distinguished Designer, Executive Creative Director,  IBM Brand Experience and Design
IBM CHQ, Marketing

---

### Note

Mike is an Executive Creative Director. As such, he led

[2020-07-06 23:02] JennySanchez opened #93 "🥩 IBM.com style model work - stakeholder interview (Sarah Brooks)"
### [Sarah Brooks](https://w3.ibm.com/bluepages/profile.html?uid=0J4462897)

![Screen Shot 2020-07-06 at 6 01 50 PM](https://user-images.githubusercontent.com/45213839/86793226-ddc72300-c030-11ea-8177-6ced3a773c66.png)

Design Experience Executive, IBM Distinguished Designer
IBM Cloud and Cognitive Software

---

### Note

Sarah used to be part of DGC as the owner of the IBM Journey System. As the

[2020-07-06 23:03] JennySanchez opened #94 "🥩 IBM.com style model work - stakeholder interview (Kelly Churchill)"
### [Kelly Churchill](https://w3.ibm.com/bluepages/profile.html?uid=5G6516897)
![Screen Shot 2020-07-06 at 6 03 12 PM](https://user-images.githubusercontent.com/45213839/86793274-e881b800-c030-11ea-82ff-e88d560e94cd.png)

DUX Program Director - Design Program Office, FED@IBM Program Leader
IBM Cloud and Cognitive Software

---

### Note

Kelly is leading the DUX (Digital User eXperience) program,

[2020-07-06 23:05] JennySanchez opened #95 "🥩 IBM.com style model work - stakeholder interview (Robin Cannon)"
### [Robin Cannon](https://w3.ibm.com/bluepages/profile.html?uid=5G0753897)
![Screen Shot 2020-07-06 at 6 04 42 PM](https://user-images.githubusercontent.com/45213839/86793316-f3d4e380-c030-11ea-9080-23a372bc8561.png)

Manager - Carbon Design System
IBM Cloud and Cognitive Software

---

### Note

Robin had been leading the Carbon Design System, which used to be the design system for IBM Cloud pro

[2020-07-06 23:08] JennySanchez opened #96 "🥩 IBM.com style model work - stakeholder interview (Wonil Suh) - confirmed, date TBD by Patterns Team"
### [Wonil Suh](https://w3.ibm.com/bluepages/profile.html?uid=1J2729897)
![Screen Shot 2020-07-06 at 6 08 15 PM](https://user-images.githubusercontent.com/45213839/86794130-c177b600-c031-11ea-8c01-522c9dbb7d9d.png)

Design Lead, Digital Design System
IBM Cloud and Cognitive Software

---

### Note

Wonil has been part of the development of the new IBM Design Language, and currently its application

[2020-07-06 23:10] JennySanchez opened #97 "IBM.com style model work - adopter interview (Lila Title) - confirmed, date TBD by Patterns Team"
#### [Lila Title](https://w3.ibm.com/bluepages/profile.html?uid=3G1797897)
![Screen Shot 2020-07-07 at 9 11 28 AM](https://user-images.githubusercontent.com/45213839/86794212-dbb19400-c031-11ea-83e3-5a34dfbbb2a5.png)

(Reboot Team)
Senior Visual Designer, Digital Growth & Commerce
IBM Cloud and Cognitive Software

---

#### Note

(Coming soon - Wonil)

#### Interview questions

- [ ] Tell me who y

[2020-07-06 23:12] JennySanchez opened #98 "IBM.com style model work - adopter interview (Shixie Shi Trofimov) - confirmed, date TBD by Patterns Team"
#### [Shixie Shi Trofimov](https://w3.ibm.com/bluepages/profile.html?uid=1J2048897)

![Screen Shot 2020-07-06 at 6 11 50 PM](https://user-images.githubusercontent.com/45213839/86794245-e66c2900-c031-11ea-8d76-4144f34d679f.png)

(Reboot Team)
Visual / Motion / VR Designer
IBM Cloud and Cognitive Software

---

#### Note

(Coming soon - Wonil)

#### Interview questions

- [ ] Tell me who you are, wh

[2020-07-06 23:13] JennySanchez opened #99 "IBM.com style model work - adopter interview (Jeff Chew) - confirmed, date TBD by Patterns Team"
#### [Jeff Chew](https://w3.ibm.com/bluepages/profile.html?uid=3J4234897)
![Screen Shot 2020-07-06 at 6 13 06 PM](https://user-images.githubusercontent.com/45213839/86794291-f421ae80-c031-11ea-9d78-39dbaae52ddd.png)

(Digital Design System Team)
Experience Technology Architect
IBM Cloud and Cognitive Software

---

#### Note

(Coming soon - Wonil)

#### Interview questions

- [ ] Tell me who you a

[2020-07-06 23:16] JennySanchez opened #100 "IBM.com style model work - adopter interview (Patrick Lowden) - confirmed, date TBD by Patterns Team"
#### [Patrick Lowden](https://w3.ibm.com/bluepages/profile.html?uid=5G2666897)
![Screen Shot 2020-07-06 at 6 15 25 PM](https://user-images.githubusercontent.com/45213839/86794328-ff74da00-c031-11ea-865e-8a92832f3557.png)

(Finance and Operations Team)
Design Strategy Lead
Finance and Operations

---

#### Note

(Coming soon - Wonil)

#### Interview questions

- [ ] Tell me who you are, what you do

[2020-07-06 23:17] JennySanchez opened #101 "IBM.com style model work - adopter interview (Donna Walker)"
#### [Donna Walker](https://w3.ibm.com/bluepages/profile.html?uid=4A7434897)
![Screen Shot 2020-07-06 at 6 17 38 PM](https://user-images.githubusercontent.com/45213839/86794355-08fe4200-c032-11ea-9dc5-e475d7258323.png)

(Finance and Operations Team)
Director - IBM Technical Content, Training and Skills
Finance and Operations

---

#### Note

(Coming soon - Wonil)

#### Interview questions

- [ ] T

[2020-07-06 23:19] JennySanchez opened #102 "IBM.com style model work - adopter interview (Shawn Hoglund) - confirmed, date TBD by Patterns Team"
#### [Shawn Hoglund](https://w3.ibm.com/bluepages/profile.html?uid=2J2465897)
![Screen Shot 2020-07-06 at 6 18 44 PM](https://user-images.githubusercontent.com/45213839/86794416-1f0c0280-c032-11ea-85f6-bc7b05c01751.png)

Creative Director - Hybrid Cloud
IBM CHQ, Marketing

---

#### Note

(Coming soon - Wonil)

#### Interview questions

- [ ] Tell me who you are, what you do, and what is the missi

[2020-07-06 23:22] JennySanchez opened #103 "🙅‍♂️ Placeholder/IBM.com style model work - adopter interview (Doug Powell )"
#### [Doug Powell](https://w3.ibm.com/bluepages/profile.html?uid=3G2882897)
![Screen Shot 2020-07-06 at 6 22 19 PM](https://user-images.githubusercontent.com/45213839/86794450-28956a80-c032-11ea-92e9-924b9257f9bd.png)

(Watson Health)
VP, Designer Practices & Community  Distinguished Designer
IBM Cloud and Cognitive Software

---

#### Note

(Coming soon - Wonil)

#### Interview questions

- [ ] T

[2020-07-07 14:45] oscardumlao-ibm commented on #80
Airtable: https://airtable.com/tblL9jC7WnaKux99O/viwyZ9JdHuhx1lBcW?blocks=bip2kUC5xkV7zXr8D
Deck: https://ibm.box.com/s/glhzsijane0avppcbb4wb3y9zz94ukey

[2020-07-07 15:56] JennySanchez commented on #40
Hi @larahanlon2 We have the MVP template, published criteria, and priority all on the [IBM.com Library Publishing Criteria and Priority Planning Mural board](https://app.mural.co/invitation/mural/ibm14/1592586700298?sender=chsanche&key=0f7c3917-398c-4fc0-a429-ebe8667b20ad) for discussion.

Please let me know if there's anything else we need to work on for now. Otherwise, I'd like to move this task

[2020-07-07 15:59] JennySanchez commented on #39
Hi @larahanlon2 We have the MVP template, published criteria, and priority all on the [IBM.com Library Publishing Criteria and Priority Planning Mural board](https://app.mural.co/invitation/mural/ibm14/1592586700298?sender=chsanche&key=0f7c3917-398c-4fc0-a429-ebe8667b20ad) for discussion.

Please let me know if there's anything else we need to work on for now. Otherwise, I'd like to move this task

[2020-07-09 13:08] sethibm commented on #81
Met with Wonil, Lara, and James yesterday to review progress and confirm direction with this first step on the audit.  Confirmation of right direction.  Next steps:

- finish the audit of Learn page
- move on to Solutions page next
- continue to isolate and diagram lowest level, repeating patterns and respective spacing
- continue to evolve visual diagram in Sketch, along with notes, questions and

[2020-07-09 15:12] jacobottesen-dgc commented on #63
Had a meetings with Linda and Wonil to discuss kit next steps on July 8th.

[2020-07-09 19:13] oscardumlao-ibm commented on #91
Interview script and (pending completion) answers: https://ibm.box.com/s/vf2nfpq1z0bkvwb26cuj5ogmq24shlk5

[2020-07-09 20:12] JennySanchez opened #104 "Planning for complete version Guideline, Components, Layout Patterns content strategy and content template"
#### Objective
For Q3, based on the adopter needs, the DDS team agreed to publish the website content with the MVP version of content strategy and templates. As we getting the MVP version content up and live on the website, we need to take a look at the next iteration of a publishing strategy and template for the crafting of the complete version content. By doing so, we know what we need to do nex

[2020-07-09 20:12] JennySanchez commented on #104
@wonilsuhibm FYI on this task existed based on our discussion today.

[2020-07-09 20:16] JennySanchez commented on #40
Based on the discussion with Wonil. We are good to close this task and we will work on the next iteration of the strategy via #104 .

[2020-07-09 20:16] JennySanchez commented on #39
Based on the discussion with Wonil. We are good to close this task and we will work on the next iteration of the strategy via #104

[2020-07-09 20:19] JennySanchez commented on #4
Based on the discussion with Wonil. We are good to close this task and crafting content with the MVP version content template (#20) for Q3. We will work on the next iteration of the template via #104.

[2020-07-09 20:19] JennySanchez commented on #5
Based on the discussion with Wonil. We are good to close this task and crafting content with the MVP version content template (#20) for Q3. We will work on the next iteration of the template via #104.

[2020-07-09 20:20] JennySanchez commented on #6
Based on the discussion with Wonil. We are good to close this task and crafting content with the MVP version content template (#20) for Q3. We will work on the next iteration of the template via #104.

[2020-07-09 20:21] JennySanchez commented on #75
We will use the Mural above for content crafting assignments.

[2020-07-09 20:25] JennySanchez commented on #7
Since we are publishing the content in the MVP version for Q3. We will pivot and take a look at the process in Q4 for refinement by collecting feedbacks from team members based on the Q3 publishing experience.

[2020-07-09 21:22] Jennifer-Price commented on #101
@JennySanchez Patrick will be the one the Patterns Team will speak to for F&O. We can close Donna's item here.

[2020-07-10 20:19] #40 closed

[2020-07-10 20:27] oscardumlao-ibm commented on #91
Interview finished, recording uploaded, and responses noted on above document. Script has been migrated to a different Box Notes but is linked on the above doc as well.

[2020-07-11 01:03] JennySanchez commented on #101
@JennySanchez Got it. Thank you!

[2020-07-11 01:03] #101 closed

[2020-07-13 14:25] oscardumlao-ibm commented on #90
Interview answers doc: https://ibm.box.com/s/6whqrieew4h60qautrts5wbdnowhopkj

[2020-07-13 15:07] oscardumlao-ibm commented on #89
Interview notes doc: https://ibm.box.com/s/98cud4p079i6rexje839933ypf2gmhg1

[2020-07-13 23:07] JennySanchez opened #105 "Create and publish - IBM.com Style Model Grid Guideline"
---

#### ✏️ Additional information

- Website content publishing process detail can be viewed [here](https://ibm.box.com/s/6oiqsvhxtchi1lfozyuw1soje67unbmj).

#### Tasks
- [ ] Research and collect references
- [ ] Craft content and finalize the guideline content
- [ ] Design and finalize the guideline page design
- [ ] Create and publish the guideline on the website

#### Acceptance criteria
- [

[2020-07-14 12:42] wonilsuhibm opened #106 "Dark theme masthead for Knowledge Center"
A request is coming from the Knowledge Center team regarding the masthead.

1. Knowledge Center is asking for a dark themed L0 masthead because most of the traffic is from product experiences.
2. They also want to provide product teams with different color theme options to match their products.

[2020-07-14 13:10] wonilsuhibm commented on #106
##### My questions and perspectives on the dark theme:
- There are products using light themes as well. How will the dark masthead work with this?
- There are many products on IBM.com as well, which are white themed.
- Many products that use dark theme also apply the dark theme to the entire page. Does this mean that the entire Knowledge Center has to be dark themed?

##### My perspectives on allo

[2020-07-14 13:39] photodow commented on #106
Personally, I feel like for a component or pattern to be apart of the IBM.com library it should have a couple of common features. One of them being the theme-ability of it. By deciding this one gets these themes, this one gets only white, and that one gets g90 we're overcomplicating our system, making it harder to provide support, harder for our adopters to understand. vs. saying everything is the

[2020-07-14 14:49] oscardumlao-ibm commented on #92
Interview notes: https://ibm.box.com/s/txnqmf7tpncdn8xfsqulxhw6pkqp32jp

[2020-07-14 15:05] jacobottesen-dgc commented on #63
Scheduled to review work with Wonil July 14th.

[2020-07-14 16:04] oscardumlao-ibm commented on #92
Note: Mike could not make this and no interview was conducted. Will need to reschedule.

[2020-07-15 15:08] larahanlon2 commented on #74
Feedback from adopters Shixie, Pete, Lila and DDS team members:

Shixie, Pete, Lila, James, Olivia, Jenny

* “Love how you’re organizing (components = coded, patterns = guidelines)”
* Very clear.
* Patterns based on intent makes a lot of sense from a design and user perspective.
* Patterns as guidelines aligned to Carbon.
* Pete= I like calling out blocks as a group of components
* James = I don’t

[2020-07-15 15:13] larahanlon2 commented on #74
On Monday July 13, Lara shared a recap of the leading proposal with the DDS team. The collated feedback, assumptions and questions, and proposed timeline can be found here: https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1594653276781?sender=larahanlon9022&key=f96804df-844e-4fc5-bbfb-7f0754ce519a

### Notes:

- It was agreed by the DDS leads and team members that the current

[2020-07-15 15:14] larahanlon2 commented on #88
Mural for audit 0.01 can be found here: https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1594653276781?sender=larahanlon9022&key=f96804df-844e-4fc5-bbfb-7f0754ce519a

The goal is to visually audit the HC components/modules and compare to what we have in the IBM.com Library today. After that, we can create the inventory and track using AirTable.

[2020-07-16 15:11] wonilsuhibm opened #107 "Notice and Choice"
This is a place holder for Hybrid Cloud team's request. Details to follow.

[2020-07-16 15:46] RobertaJHahn commented on #26
Jacob to follow-up with Tina on how the Locale Button notification is triggered.  Once we have final decisions, review with engineering, design specs and dev hand off can happen.

[2020-07-17 02:11] JennySanchez commented on #85
**Final:**

Downloadable Sketch Work file can be found [here](https://ibm.box.com/s/dgmmw2kpvtt3hpw8bazprawpfxfvsac3).

![Content Template (MVP version)](https://user-images.githubusercontent.com/45213839/87740846-d4645600-c7a8-11ea-8c8b-a2efdeec4cd1.jpg)

[2020-07-17 02:14] JennySanchez commented on #7
**Task update:**

- Worked on the [process BOX document](https://ibm.box.com/s/6oiqsvhxtchi1lfozyuw1soje67unbmj) update with @wonilsuhibm today.
- Signed up for sharing the process document in the [DDS Team huddle](https://ibm.box.com/s/g3bpwxwyknpqldhg8uxfv2n5hka1rvi5) on 07/23.

[2020-07-17 12:15] wonilsuhibm opened #108 "Image production standards"
Provide image production standards for the new DAM.

[2020-07-17 12:17] wonilsuhibm commented on #108
The existing renditions in Bynder (current DAM) are:

- Original
- LowRes Original
- Retina Display 2800 x 1867 px
- Leadspace 1400 x 933 px
- Content 600 x 340 px
- Inline 480 x 360 px
- Thumbnail 150 x 111px

[2020-07-17 12:59] wonilsuhibm commented on #108
# Meeting minutes

### Current DAM example
https://dam.ibm.com/media/?mediaId=ACD6C702-434E-41A1-96BC3ADAA66B2FF6

### Send rendition size mappings to Molly Reinganum
2800 -> 3608
1400 -> 1584
600 -> 640
480 -> 480
150 -> 320

### Timeline
Initial by October

[2020-07-20 13:27] jacobottesen-dgc commented on #63
Finish adopters starter kit. Folder and files can be viewed here: https://ibm.box.com/s/42z8wj0jin5ip2c6uffzuxz7618wncew

[2020-07-21 14:39] larahanlon2 commented on #74
Presented at sprint. Closing.

[2020-07-21 14:39] #74 closed

[2020-07-21 15:15] sethibm commented on #58
Finalizing update plan with this prototype with Wonil, and input from other designers on DDS and Reboot, towards IDL and Carbon, and will do asap.

[2020-07-21 19:20] wonilsuhibm opened #109 "Lead space standards"
Create overall standards for Lead Space

[2020-07-21 22:14] JennySanchez commented on #7
Followed up with Wonil via Slack to see if there's anything else we need to add to the document before the share today.

[2020-07-22 16:14] wonilsuhibm commented on #108
### Proposal
| Current | New |
|:---|:---|
| Retina Display 2800 x 1867 | - - - |
| Lead space 1400 x 933 (3:2) | Lead space 1584 x 560 (standard max w x h) |
| (new) | Lead space retina 3168 x 1120 |
| (new) | Large 1312 x 874 (3:2) |
| (new) | Large retina 2624 x 1748 (3:2) |
| Content 600 x 340 | Medium 674 x 672 x 448 (3:2) |
| (new) | Medium retina 1348 x 896 (3:2) |
| Inline 480 x 360 (4:3)

[2020-07-22 16:15] larahanlon2 opened #110 "Validate patterns future state work with adopters"
### Background

DDS team and leads have agreed to move all current layout patterns into components. In the future, we will label/categorize anything that is coded as a component, while design intents and best practices will be known as patterns. Before we make this change we need to validate the proposal one last time with adopters.

**Previous feedback from adopters and DDS documented here:**
htt

[2020-07-22 16:40] wonilsuhibm commented on #108
### Proposal 2 (aspect ratio based)

##### Large breakpoint and up
| Name | Aspect ratio | size |
|:---|:---|:---|
| Large lead space | (standard max w x h) | 1584 x 560 |
| Large lead space| (standard max w x h) | retina 3168 x 1120 |
| Large 4x3 | 4:3 | 1312 x 984 |
| Large 4x3 Retina | 4:3 | 2624 x 1968 |
|Large 3:2 | 3:2 | 1312 x 874 |
|Large 3:2 retina | 3:2 | 2624 x 1748 |
|Large 16x9 | 16:9

[2020-07-22 17:47] ghost commented on #68
Specs added at: https://ibm.box.com/s/nsbccv6jigfw78uwq3r0242qks1x1f87

[2020-07-22 18:07] photodow commented on #108
@wonilsuhibm should testing performance play a part in this standard?

[2020-07-22 21:26] sethibm commented on #58
@wonilsuhibm Update: powering through as quick as possible.  Taking longer than estimate.
The resizing of all patterns looks good in 1312, but there are added steps and time, especially with varying patterns being different widths and percentage export / scaling with Sketch is not ideal.

The Patterns page is finally done, though there may be some of the newer patterns that will need to be added.

[2020-07-23 13:34] wonilsuhibm opened #111 "Components inventory"
Compose an inventory of all components (Carbon, V18, layout components, IBM.com Library), each with status and keep/kill flag.

[2020-07-23 13:36] wonilsuhibm commented on #111
Added a new tab to our Layout pattern inventory v2.0.0 AirTable, named "Design inventory" and moved over most of v18 components from the v18 audit table and layout components.

[2020-07-23 20:10] sethibm commented on #58
Latest prototype link shared with DDS for input / comments / feedback.  Will share with Reboot next.

[2020-07-23 21:57] JennySanchez commented on #64
@wonilsuhibm Jacob mentioned [the Adopter Kit](https://ibm.ent.box.com/folder/116567620037) is ready. My thought is we will add a section in the [Get Started Overview page](https://www.ibm.com/standards/web/ibm-dotcom-library/get-started) and provide a link to Git for adopter kit access requests or we can add a card to the "Resource" section and link to Git for adopter kit access requests.

What d

[2020-07-23 22:02] JennySanchez commented on #7
**Document shared in the DDS Team Huddle today and on the Team Slack channel.**

![Screen Shot 2020-07-23 at 5 01 02 PM](https://user-images.githubusercontent.com/45213839/88343088-36234380-cd06-11ea-804a-23411722fc6c.png)

Task | Stage | Tool | Action | Dependencies | Contributor/Task owner | Sprint & LOE
-- | -- | -- | -- | -- | -- | --
Initial research | Research/Investigate | (Ideation board)

[2020-07-24 19:44] JennySanchez opened #112 "Ideation for the Birthday Cake version Components and Layout patterns overview page"
#### Objective
Our current Components and Layout patterns overview page have two tabs so the adopters can view the inventory in both ListView and Tile View. However, based on the [designer feedback](https://ibm.box.com/s/ba4p4j0eclo7i5avz5kp8ubemijtas39) we need to explore ideas of how to combine the two viewing elements into one page and also allow the tagging and filtering or search features we

[2020-07-27 16:20] wonilsuhibm opened #113 "Video player re-skin"
The current Kaltura video player uses their default theme (text, color, icon, etc). We want to update this to IDL specs.

### Additional information
- The Brand team passed this new [design file](https://ibm.box.com/s/ndj6pettuuw2346rnwk9svjapzhfs5ve).

[2020-07-27 21:53] larahanlon2 commented on #110
Met with Shawn Hoglund, Cloud, today to review the proposal of moving current patterns into components. All components = coded UI, patterns = best practice designs and intents.

### Feedback

👍

[2020-07-27 21:58] larahanlon2 commented on #110
Wonil and I briefly updated the Carbon team today about the direction to move all current layout patterns into components and keep patterns for design best practices and intents. Feedback was positive and they liked the idea that anything coded is considered a component. Jeannie thinks we could align more on patterns and feels that Carbon does not have the perfect/right solution yet but also share

[2020-07-27 22:02] larahanlon2 commented on #88
Notes from interview with Shawn Hoglund and Janice Christine:

- Watson team started building the library initially.
- Naming conventions applied based on their content model.
- Cloud team would like to reevaluate and define what the module categories are.
- Would like to have secondary names/nicknames eg. Card section, lead space.
- Module A/B/C = category of things
- Number = sequential to the b

[2020-07-28 15:46] wonilsuhibm opened #114 "Home page redesign audit"

[2020-07-28 15:48] wonilsuhibm opened #115 "Account page redesign"
DDS owns this page: https://www.ibm.com/account/us-en/

Details to come via convo with leadership.

[2020-07-29 13:44] wonilsuhibm opened #116 "iOS video player behavior"
Currently, when the user taps the play button on the video player in an iOS device, the video starts playing but muted. This is per the iOS's restrictions. We have two options:

- Option 1: keep it as is. Expect the user to raise the volume.
- Option 2: change it to non-auto-play. In this scenario, the user will be presented with a second play button, which is the iOS native play button, and has t

[2020-07-29 18:30] sethibm commented on #61
Created "Image Guidelines" folder for now in Cupcake Website folder, with a Sketch file showing some work there.
https://ibm.box.com/s/arg3tocb8vvpf2g4nq4g3ac3ndwoajrr

This is Invision of that Sketch:
https://ibm.invisionapp.com/share/3HO0AND9GJN#/319641775_Pattern_Pages_-_Sample_Image_Sizes

[2020-07-29 19:19] larahanlon2 commented on #110
Met with Alisha Moore, designer F&O on July 28. We reviewed the as-is and future state prototype.

### Feedback

👍

[2020-07-29 19:25] larahanlon2 commented on #110
The following designers (adopters) have been interviewed and received a playback of the future state patterns/components work:

- Lila Title – Reboot
- Shixie Trovimov – Reboot
- Pete Garvin – IDL, Carbon
- Shawn Hoglund – Cloud
- Janice Christine – Cloud
- Alisha Moore – Support, F&O

(Carbon designers received a verbal overview of the direction but not formal playback or interview)

**In additio

[2020-07-30 16:27] JennySanchez commented on #37
Work session scheduled for 08/04 (Tuesday) 12:30 pm CT.
focuses:Get a better idea of the IA and what to publish in Sprint 20-16.

[2020-07-31 13:04] wonilsuhibm opened #117 "Layout foundations - Target: Feb 21"
Start with [4-12] and [16] as the two overarching layout options, and create guidelines around them.

#### Additional Information

### Acceptance Criteria

[2020-07-31 13:05] wonilsuhibm opened #118 "IBM.com style model"
Continue with IBM.com style model evolution.

[2020-08-03 15:44] sethibm commented on #58
Updated CTA section, Content group horizontal, Callout with media to Guidelines links.

Logged Lila's input / suggestions for copy change on component descriptions within Mural Web Publishing Triage document for now, until team confirms where these discussions and final copy decisions will occur:

https://app.mural.co/t/digitaldesignsystemsquadwork2176/m/digitaldesignsystemsquadwork2176/1596216481

[2020-08-03 18:14] JennySanchez commented on #37
**Note:** Once the planing is done, we will do the MVP version of first IBM.com Style Model page via task [#575](https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/575).

[2020-08-04 15:11] JennySanchez opened #119 "Website Publishing Retro for Sprint 20-15"
#### User Story

#### Acceptance criteria

- [x] Website Publishing Retro is done.
- [x] Action items for improvement is defined.
- [x] Action items task issues are created as needed.

**Note:**

- Website Publishing Retro set up by Roberta for Wed 08/05/2020 1:30 PM - 2:00 PM CT.
- Attendees: Changchen H Sanchez, Jacob Ottesen, James T Dow, Lara Hanlon1, Olivia Flory, Seth Carnes, Wonil Suh1

[2020-08-04 15:13] JennySanchez commented on #119
@jacobottesen-dgc @sethibm @wonilsuhibm FYI on this task issue existed.

[2020-08-04 19:45] RobertaJHahn commented on #68
Updated link to the specs:  https://ibm.ent.box.com/folder/101562989787

[2020-08-05 12:52] RobertaJHahn opened #120 "?component name?: Ideation epic template"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-08-05 12:58] RobertaJHahn opened #121 "?component name?: ?research description? template"
### User story

### This task

### Notes
-

### Component design folder

### Example
-

[2020-08-05 13:00] RobertaJHahn opened #122 "?Component name?: ?design study description? template"
#### User story

#### This task

#### Notes
-

#### Component design folder

[2020-08-07 18:25] larahanlon2 commented on #84
WIP definitions for commonly used words/labels added to the Mural board. We will need to decide what works best for internal and external communication. Wonil suggested a card sorting exercise for category labels. We could do something similar for definitions, perhaps.

https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1592925542873?sender=larahanlon9022&key=3e99fc46-6800-44a7

[2020-08-10 12:43] RobertaJHahn opened #123 "?Component name?: ?Final design description? template"
#### User story

Digital Design Squad team member

finalize the `?component name?`

?

#### Task Details
-

#### Notes and references
-

#### Acceptance Criteria
- [ ]

[2020-08-10 16:57] sethibm commented on #58
@wonilsuhibm Can you take a look at this update and share thoughts on moving forward? I've tried to ping on Slack but the channels and threads were in flux last week.

https://ibm.invisionapp.com/share/PZO0B7BAXVB#/319655941_Patterns

This shows all existing patterns in the Pattern Inventory updated, so they are all placed in context of IDL grid / columns, using 1312px breakpoint.  This was starte

[2020-08-11 13:22] RobertaJHahn opened #124 "Carousel MVP component"
### User story 1  - End user
*TBD*

### User story 2  - DDS Designer
As a DDS designer, I need to understand:
- the needs for different carousel features
- existing design examples and their associated useability data
- existing research findings (both internal and external)

so that I can start design explorations.

### Notes
This research is to understand the general Carousel feature, the pros,

[2020-08-11 13:24] RobertaJHahn opened #125 "Carousel MVP: research"
### User story 1  - End user
*TBD*

### User story 2  - DDS Designer
As a DDS designer, I need to understand:
- the needs for different carousel features
- existing design examples and their associated useability data
- existing research findings (both internal and external)

so that I can start design explorations.

### Notes
This research is to understand the general Carousel feature, the pros,

[2020-08-11 13:27] RobertaJHahn opened #126 "Lead space design variations"
### User Story

`ibm.com user`

`orient myself and understand the content of the page`

`make a decision on whether this page is relevant to me or not.`

### Notes
We have the original size standards, which our current lead space component is based on. We have a few more lead space designs from the Reboot team (see the additional information section below). We want to create a system of variations

[2020-08-11 13:28] RobertaJHahn opened #127 "Lead space: variation research"
### User Story

`ibm.com user`

`orient myself and understand the content of the page`

`make a decision on whether this page is relevant to me or not.`

### user story 2

`DDS designer`

`understand what kind of lead spaces are out there both internally and externally`

`create a system of lead spaces.`

### Notes
We have the original size standards, which our current lead space component is base

[2020-08-11 15:00] ghost commented on #120
This epic contains an overview of the research and design performed to create this component.

### User story 1: end user

ibm.com user

?description here?

?description here?

### Additional Information
- [box folder]
- [reference materials]

### Acceptance criteria
- [ ] Design specs are available
- [ ] Functional specs are available
- [ ] Codes are available
- [ ] Design guidelines are availabl

[2020-08-11 22:56] JennySanchez commented on #37
Based on the discussion today, we will create a "Building for IBM.com" guideline page under the Guidelines section on the [website](https://www.ibm.com/standards/web/ibm-dotcom-library/).

On the "Building for IBM.com" guideline page, we will four areas of focus for the content crafting.

1. Introduction and Vision.
2. IBM.com shall.
3. Intro to style models, definition, background, etc.
4. List o

[2020-08-12 12:54] wonilsuhibm commented on #121
This epic contains an overview of the research and design performed to create this component.

### User story 1: end user

ibm.com user

?description here?

?description here?

### User story 2: DDS team member

DDS designer

?description here?

?description here?

### Additional Information
- [box folder]
- [reference materials]

### Acceptance criteria
- [ ] Research findings are available in th

[2020-08-12 12:55] wonilsuhibm commented on #122
This epic contains an overview of the research and design performed to create this component.

### User story 1: end user

ibm.com user

?description here?

?description here?

### User story 2: DDS team member

DDS designer

?description here?

?description here?

### Additional Information
- [box folder]
- [reference materials]

### Acceptance criteria
- [ ] Design direction(s) has been identifi

[2020-08-12 12:56] wonilsuhibm commented on #123
This epic contains an overview of the research and design performed to create this component.

### User story 1: end user

ibm.com user

?description here?

?description here?

### User story 2: DDS team member

DDS developer

?description here?

?description here?

### Additional Information
- [box folder]
- [reference materials]

### Acceptance criteria
- [ ] Final designs are available
- [ ] De

[2020-08-12 17:36] JennySanchez commented on #119
Website Publishing Retro Trello board detail can be viewed [here](https://trello.com/b/gBSw7tj0/website-publishing-retro).

![Screen Shot 2020-08-12 at 12 35 52 PM](https://user-images.githubusercontent.com/45213839/90047969-6b350d00-dc98-11ea-8e28-31da1577b047.png)

[2020-08-12 18:06] JennySanchez commented on #119
@wonilsuhibm (**FYI:** @RobertaJHahn @sethibm )

### Next step for the action items:

**An "ideas" column will be added to the Trello board for web site retros.**

This is for the Trello retro board set up and Roberta will consider it for the future.

**MVP content template will be updated with the image creation details**

Seth is assisting with the template update and the latest template can be

[2020-08-17 17:59] ghost commented on #64
Hi Jenny, what you proposed sounds perfect to me. Please go ahead.

[2020-08-18 12:05] RobertaJHahn opened #128 "Lead space: Variation design study"
### User Story

`ibm.com user`

`orient myself and understand the content of the page`

`make a decision on whether this page is relevant to me or not.`

### user story 2

`DDS designer`

`understand what kind of lead spaces are out there both internally and externally`

`create a system of lead spaces.`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**

[2020-08-18 12:08] RobertaJHahn opened #129 "Lead space: Variations Final design"
### User Story

`ibm.com user`

`orient myself and understand the content of the page`

`make a decision on whether this page is relevant to me or not.`

### user story 2

`DDS designer`

`understand what kind of lead spaces are out there both internally and externally`

`create a system of lead spaces.`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**

[2020-08-20 17:15] JennySanchez commented on #61
#### Area of focuses:

- Image size - Guideline, Components, Layout patterns, and general.
- Image converting - Step-by-step with the artboard set up.
- Exporting - Format, naming, etc. Note: how to make the image looks crispy
- Spec image - What to include, label colors, etc.

[2020-08-20 17:45] JennySanchez opened #130 "Wedding Cake version content structure ideation."
#### Tasks

- [ ] Get feedback from adopter with the MVP version content
- [ ] Have a full list of the items we need to add to the MVP version content
- [ ] Work on the design in Sketch App to flush out the visual elements
- [ ] Update or create new templates for publishing
- [ ] Create the wedding cake version content publishing list and approved by the DDS leadership
- [ ] Prioritize the items o

[2020-08-20 18:13] JennySanchez commented on #64
The next step will be worked on via #610 on the Agile board.
https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/610

[2020-08-20 20:28] JennySanchez commented on #53
**Note:** Adding the [Hotjar Survey](https://insights.hotjar.com/sites/42920/polls/responses/506324) we are using currently (08-20-2020) here.

![Screen Shot 2020-08-20 at 3 27 36 PM](https://user-images.githubusercontent.com/45213839/90822314-d8c8e500-e2f9-11ea-8ab8-8621877cde2f.png)

[2020-08-20 20:44] sethibm commented on #58
@wonilsuhibm @ljcarot Fyi, I've updated this Invision prototype for the Patterns and templates.

Linda, the comment and idea you shared about trying to show patterns as they appear in IDL grid and columns when this was shared in a presentation had broad impacts across all imagery being published on the website :) It also helped speed some of the work up, as I was already working on making graphics

[2020-08-20 21:32] ljcarot commented on #58
Great work and thanks for the update!!

[2020-08-24 15:38] ghost commented on #92
Moving back to the backlog.

[2020-08-24 15:38] ghost commented on #81
Moving back to backlog.

[2020-08-24 21:58] RobertaJHahn opened #131 "Carousel MVP: design study"
### User story 1  - End user
*TBD*

### User story 2  - DDS Designer
As a DDS designer, I need to understand:
- the needs for different carousel features
- existing design examples and their associated useability data
- existing research findings (both internal and external)

so that I can start design explorations.

#### Additional Information
- **See the epic for the overarching descriptions of

[2020-08-24 22:00] RobertaJHahn opened #132 "Carousel MVP: Final design"
### User story 1  - End user
*TBD*

### User story 2  - DDS Designer
As a DDS designer, I need to understand:
- the needs for different carousel features
- existing design examples and their associated useability data
- existing research findings (both internal and external)

so that I can start design explorations.

#### Additional Information
- **See the epic for the overarching descriptions of

[2020-08-26 17:07] oscardumlao-ibm commented on #96
Patterns project concluded, so not relevant anymore. We touched base several times with Wonil outside of the structure of a stakeholder interview.

[2020-08-26 17:07] #96 closed

[2020-08-27 13:47] larahanlon2 commented on #84
Latest decision from Wonil, Lara, Jenny, Jacob:

We're going to use the labels **UI components** and **Layout components** to sub-categorize components on the website. We will not be impacting the IA/nav on the website or Storybook for now. We will use these labels on the overview page only as a first step, and gather feedback from adopters to see if these sub-categories make sense.

1. **UI compo

[2020-08-27 13:49] larahanlon2 commented on #88
Audit is complete and has been presented to Reboot and DDS designers (and DDS sprint review).

**Next steps:**
1. Wonil to talk to Michael Priestly, Lily and Charlie and mapping to new IBM page types to inform which component we can use for reboot +
2. Lara/Reboot designer to map components to Cloud page types (See Sketch file from Wonil)

[2020-08-27 13:49] #88 closed

[2020-08-27 14:03] #110 closed

[2020-08-27 19:42] JennySanchez opened #133 "Demo window/treatment for the Componets (UI componets and Layout componets )"
#### Objective:

Revisit the implementation plan for the Carbon demo window and the Layout Patterns preview window Jacob designed, so we know what we are going to do to meet adopter needs and make plans for action items and priority planning.

[2020-08-27 20:01] JennySanchez commented on #133
**Note:** @wonilsuhibm Olivia shared this demo window treatment from [Watson IoT](https://pages.github.ibm.com/Watson-IoT/IoT-Design-Site/components/combobox/specification) with us and maybe we can take a look at the demo window with Jeff or connect with the Watson IoT to find out how they implement it? Code we can leverage?

![Screenshot_2020-08-27 Watson IoT Design – Combo box](https://user-imag

[2020-08-28 14:47] oscardumlao-ibm commented on #93
Holdover from pre-Patterns program — no longer relevant to current work.

[2020-08-28 14:47] #93 closed

[2020-08-28 14:48] oscardumlao-ibm commented on #103
Holdover from pre-Patterns work — no longer relevant to current work

[2020-08-28 14:48] #103 closed

[2020-08-28 14:50] oscardumlao-ibm commented on #77
Initial changes to Style Model intents were presented slightly before outset of Patterns. Here were the initial suggestions: https://ibm.ent.box.com/file/691176600846

[2020-08-28 14:52] oscardumlao-ibm commented on #76
This was pre-Patterns work, and the initial audit was completed (https://airtable.com/tblL9jC7WnaKux99O/viwdshCsGz1uHyIZs?blocks=bip2kUC5xkV7zXr8D) and some findings were synthesized (https://ibm.ent.box.com/file/691175364280)

[2020-08-28 17:19] oscardumlao-ibm opened #134 "Guided delivery on Dotcom Library"
**Objective**
This epic aims to implement the big Tier 2 takeaways that came from the outcomes of the Patterns incubator program with Project Phoenix. We will create a new website flow and IA concept that focuses on intentionally showing a more limited range of assets relevant to specific visitor needs, what we call the _Create flow_ using the terminology from Patterns.

**Tasks**
- [ ] Iterate on

[2020-08-28 17:25] oscardumlao-ibm commented on #134
Original Mural board defining objectives around this area: https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1598458857014?sender=oscardumlao4826&key=019be255-9cd5-4ad0-af28-1eebc69249ff

[2020-08-28 17:33] oscardumlao-ibm opened #135 "Prototype for template-first delivery"
**Objective**
We are defining a new section for guided delivery on Dotcom Library. We'll create a prototype for this flow that explores what the UX would be for creators if we aimed to deliver page templates as the main solution for their needs.

**Tasks**
- [x]  Sketch mockup of entryway page
- [x]  Sketch mockup of template selection page
- [x]  Sketch mockup of template details page(s)
- [x]  S

[2020-08-28 18:01] oscardumlao-ibm opened #136 "Prototype for style model-first delivery with Universal Experiences"
**Objective**
We are defining a new section for guided delivery on Dotcom Library. We'll create a prototype for this flow that explores what the UX would be for creators if we aimed to deliver style models as the main solution for their needs.

**Tasks**
- [x]  Create systematic mapping for how Style Models fits Universal Experiences steps and touchpoints
- [x]  Sketch mockup of entryway page
- [x

[2020-08-28 18:03] oscardumlao-ibm opened #137 "Prototype for style model-first delivery with new gateway"
**Objective**
We are defining a new section for guided delivery on Dotcom Library. We'll create a prototype for this flow that explores what the UX would be for creators if we aimed to deliver style models as the main solution for their needs.

**Tasks**
- [x]  Competitive audit of website design guidance
- [ ]  Sketch mockup of entryway page
- [ ]  Sketch mockup of style model details page(s)
- [

[2020-08-28 18:05] oscardumlao-ibm commented on #135
Note: this is the closest to the originals Patterns work. Basis work found here: https://ibm.ent.box.com/file/710560342848 under the Create label in the Sketch canvas.

[2020-08-31 16:44] JennySanchez opened #138 "Planning for Guideline section content publishing"
#### Objective

We need to make a plan and look at the guidelines we need to publish so we can set priority and start on the content crafting process.
![Screen Shot 2020-08-31 at 11.27.06 AM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/13f76760-57e8-4289-895e-5b1eb15c0299)

#### Note
The previous (MVP version) Content strategy for Guideline section on the website can be viewe

[2020-08-31 18:17] oscardumlao-ibm commented on #135
InVision prototype: https://ibm.invisionapp.com/share/PHO0EWP6JBS#/screens/319684412

[2020-09-01 18:34] ghost commented on #79
This task is not relevant any more.

[2020-09-01 18:34] #79 closed

[2020-09-02 16:19] oscardumlao-ibm commented on #136
InVision prototype: https://ibm.invisionapp.com/share/4XO0F7TNE5B

[2020-09-02 22:22] oscardumlao-ibm commented on #137
Added new task of competitive audit looking at Squarespace etc. for how to deliver pre-built frameworks to web creators.

[2020-09-03 20:20] ghost opened #139 "Cycle 2-2020 (Aug 31–Oct 5th)"
# Objectives

# IBM.com Style Model
-

# Components
- Mega menu

[2020-09-04 17:02] JennySanchez opened #140 "Ideation: Releases page (used to be called What's new page)"
#### Objective:

Provide IBM.com Library adopters insight into what is new and upcoming IBM.com Library offers.

#### Example

https://material.io/whats-new

![Screenshot_2020-09-04 Material Design.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/ae8ff3f9-9c74-40f9-bcac-e7358f8652b5)

[2020-09-04 17:31] JennySanchez opened #141 "Ideation and planning for the Contribution section content updates and publishing"
#### Objective

We need to provide adopter guidance on how to contribute back to the IBM.com Library so we can grow and scale the IBM.com Library.

#### Identified areas

- Design specs
- Functional specs
- Guideline crafting
- Develop
- Design

#### Note

- View what we currently have for the development contribution guideline [here](https://github.com/carbon-design-system/ibm-dotcom-library/blob

[2020-09-04 21:50] JennySanchez opened #142 "Quaterly adopter survey planning"
#### Objective

We need to set up an adopter survey so we can get feedback from the adopters around how we can support them better when adopting IBM.com Library.

#### Note

- Let's look into how we can set up the survey with cadence.
- UserTesting can be a good option for us.

[2020-09-04 22:18] oscardumlao-ibm commented on #137
Flow map for question logic: https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1599167621015?sender=oscardumlao4826&key=88009037-afdd-4acc-88ea-b0ed819bbe7f

[2020-09-04 22:20] oscardumlao-ibm commented on #137
Closing out this task because we are pivoting away from this concept completely (neither style models nor templates comes first)

[2020-09-04 22:20] #137 closed, assigned to oscardumlao-ibm

[2020-09-04 22:23] oscardumlao-ibm opened #143 "Prototype for Squarespace-style get started flow"
**Objective**
We are defining a new section for guided delivery on Dotcom Library. We'll create a prototype for this flow that explores what the UX would be for creators if we aimed to deliver the right asset (either a style model or a template) from a series of focused questions like a Squarespace get-started experience.

This resulted from our competitive audit in Task #137 .

**Tasks**
- [x]  I

[2020-09-04 22:24] oscardumlao-ibm commented on #143
Mapping in progress: https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1599167621015?sender=oscardumlao4826&key=88009037-afdd-4acc-88ea-b0ed819bbe7f

[2020-09-08 21:29] RobertaJHahn opened #144 "Scroll animation: design epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [x] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-09-08 21:33] RobertaJHahn opened #145 "Scroll animation: Research"
#### User story 1  - End user

`ibm.com user`

to be effectively immersed without being distracted

physically engage with the page's narrative

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- Research sources:  ibm.com/cloud
- [box folder](https://ibm.box.com/s/ds85hj8qftok0tkwj82xopfbu4qvuk4i)

#### Acceptance Criteria
- [ ] Research find

[2020-09-10 03:26] oscardumlao-ibm commented on #143
InVision: https://ibm.invisionapp.com/share/ZBO0G73D6KJ

[2020-09-10 03:34] oscardumlao-ibm commented on #143
Box folder with relevant background (Keynote presentation) and Sketch file: https://ibm.ent.box.com/folder/122521607306

[2020-09-10 19:58] JennySanchez opened #146 "New ideas for 2021 (disussion with Wonil needed)"
## A few ideas to discuss with Wonl for the future IBM.com Library website development.

[2020-09-10 19:59] JennySanchez commented on #146
### User Testing

**Potential tool: Usertesting.com**

For comparing feature set-ups along with options for the adopters to select the areas of what needs work. For example, content, visual reference, etc. The use case could be the ListView or Thumbnail View on the Components Overview Page.

For content feedback. Provide the adopters a set of information, after they read the content, answer a few

[2020-09-10 20:06] JennySanchez commented on #146
### Style Model

A "info" icon to be next to each style model and show information around what is this template for and the intent (around the end-user need).

---
**Note:**
![Screen Shot 2020-09-10 at 3 06 25 PM](https://user-images.githubusercontent.com/45213839/92796921-38edfc80-f377-11ea-9974-0cb205d0d496.png)

[2020-09-10 20:08] JennySanchez commented on #146
### Overall Visual Style
![Screenshot_2020-09-10 Material Design](https://user-images.githubusercontent.com/45213839/92797203-7a7ea780-f377-11ea-930c-654e60786e5a.jpg)

[2020-09-11 00:11] JennySanchez commented on #67
Guideline section publishing inventory list can be viewed [here](https://airtable.com/invite/l?inviteId=invsPWNzmNrcdba7F&inviteToken=7e3bdc4d60963b8e9e366bf6fd6d2de10c5e771772135b019515a62de1f7f430).
Guideline section publishing prioritization detail can be viewed [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1598615364665?sender=wonilsuh19286&key=7e8d6467-71c5-47f

[2020-09-11 00:12] JennySanchez commented on #41
Latest work can be viewed via #67  .

[2020-09-11 00:12] #41 closed

[2020-09-11 00:28] JennySanchez commented on #105
@wonilsuhibm This one is not on the Guideline [inventory list](https://airtable.com/invite/l?inviteId=inv3W25InvHBmTsLJ&inviteToken=3674d7d57ec5d8470f729a342c1f2c1da6a86e47ef0aa9611dbcae8fbaf22cf1) for publishing. Is the content part of the existing listed guideline or if we need to add this to the publishing list?

[2020-09-14 14:00] larahanlon2 commented on #127
### Lead space research report (WIP) can be found [here](https://ibm.ent.box.com/notes/717141700263).

### Competitor audit can be found [here](https://ibm.box.com/s/jyhzoysxeca8lenhz37gf8hfreoturjm).

[2020-09-14 20:45] jacobottesen-dgc commented on #125
Research for carousel can be found here in box:
https://ibm.box.com/s/v27104nxjyfwrwjij3nvtur67ji59m4w

[2020-09-18 15:41] JennySanchez commented on #61
![Screen Shot 2020-09-18 at 10 41 18 AM](https://user-images.githubusercontent.com/45213839/93617371-8122a580-f99b-11ea-9447-b39001b6b0fc.png)

[2020-09-21 17:24] JennySanchez opened #147 "Research and Planning for website content crafting best practice"
#### Task
- [ ] Do research around what we need to address when creating content for the website.
- [ ] Decided how or where we are going to publish the best practices for internal use.

#### Acceptance criteria
- [ ] Have a list of what we are going to include in the best practice.
- [ ] Create a task issue/issues for best practices creation on the Agile board.

[2020-09-22 20:22] JennySanchez opened #148 "Discussion + Ideation: website linking strategy (short term solution)"
### Focus: How can we have IBM.com Library information from the Carbon website

---

@JennySanchez commented on [Thu Mar 19 2020](https://github.com/carbon-design-system/ibm-dotcom-library-website/issues/367)

#### Task
- [x] Review the adopter pain point around getting confused between the two design system websites.
- [ ] Ideate and come up with proposals on how we can surface the IBM.com Librar

[2020-09-22 20:26] JennySanchez commented on #56
The Kit release detail and the outcome can be viewed via [#610 Adopter Kit release](https://app.zenhub.com/workspaces/ibmcom-library-5d449f3642eb1962336cbe52/issues/carbon-design-system/ibm-dotcom-library-website/610).

[2020-09-22 20:26] #56 closed

[2020-09-22 20:26] #64 closed

[2020-09-22 20:27] #3 closed

[2020-09-22 20:31] JennySanchez opened #149 "Website linking strategy (Short term and long term solutions)"
#### Steps

- Discussion with the Carbon and IDL team members around the adopter pain points
- Agreed on the areas of discussion
- Ideate on the possible solutions
- Work on the mockup and designs for discussion as needed
- Agreed on the interim solutions and long-term solutions (if possible)
- Have a list of action items lists for creating task issues on the Agile board for executions

#### Accep

[2020-09-23 16:22] JennySanchez commented on #148
@ljcarot @wonilsuhibm

Mural board set up for ideation based on our conversation yesterday can be viewed [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1600808396496?sender=chsanche&key=57a2b85e-f368-461f-8899-4cd296b996ef).

[2020-09-23 18:19] JennySanchez opened #150 "Ideation: IBM Standard website checklist treatment"
#### Objective

IBM.com content creators need a way to find the standards and a checklist to help them complete IBM compliance standards before presenting the content to the end-user who visited IBM.com.

#### Task

- [x] Talk to Linda and find out what is included on the checklist.
- [x] Do design research and study how other websites present similar content.
- [x] Explore ideas and locations on

[2020-09-23 18:20] JennySanchez commented on #150
FYI: @wonilsuhibm @ljcarot

[2020-09-23 18:21] JennySanchez opened #151 "IBM Web Standard Website [content update]"
(more detail will be added soon)

**IBM Web Standard Website**

https://www.ibm.com/standards/web/

![Screenshot_2020-09-23 IBM com Web Standards](https://user-images.githubusercontent.com/45213839/94053567-18bf3400-fda0-11ea-8911-315a044a2658.png)

[2020-09-23 18:22] JennySanchez commented on #150
#### Note
One of the idea to explore - On page tab treatment
![Screen Shot 2020-09-23 at 12.15.09 PM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/e64dfa72-e8cf-46a6-80a7-e462accb56f1)https://www.ibm.com/design/thinking/page/badges/core-skills

[2020-09-23 21:29] RobertaJHahn opened #152 "Mobile Landscape mode alert"
#### Notes
- This work review the existing designs, collecting all of the current information and preparing to create the design specs for the developers
- [existing designs link](TBD)
- [Agile board design specs link](TBD)

#### Acceptance Criteria
- [ ] Existing documentation is reviewed and summarized
- [ ] Next steps are planned and issues created, if needed

[2020-09-23 21:52] RobertaJHahn opened #153 "Back to Top: design epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-09-23 21:58] RobertaJHahn opened #154 "Back to top and Jump to Next: research"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available in the

[2020-09-23 21:59] #62 closed

[2020-09-23 21:59] #72 closed

[2020-09-23 21:59] #119 closed, assigned to JennySanchez

[2020-09-23 21:59] #37 closed

[2020-09-23 22:00] #20 closed

[2020-09-23 22:00] #43 closed

[2020-09-23 22:00] #68 closed

[2020-09-23 22:00] #28 closed

[2020-09-23 22:00] #63 closed

[2020-09-23 22:00] #25 closed

[2020-09-23 22:00] #23 closed

[2020-09-23 22:00] #27 closed

[2020-09-23 22:00] #29 closed

[2020-09-23 22:00] #24 closed

[2020-09-23 22:00] #70 closed

[2020-09-23 22:00] #35 closed

[2020-09-23 22:00] #77 closed

[2020-09-23 22:00] #143 closed, assigned to oscardumlao-ibm

[2020-09-23 22:00] #136 closed, assigned to oscardumlao-ibm

[2020-09-23 22:00] #135 closed, assigned to oscardumlao-ibm

[2020-09-23 22:00] #92 closed

[2020-09-23 22:00] #98 closed

[2020-09-23 22:00] #97 closed

[2020-09-23 22:00] #100 closed

[2020-09-23 22:00] #102 closed

[2020-09-23 22:01] #99 closed

[2020-09-23 22:01] #80 closed

[2020-09-23 22:01] #55 closed

[2020-09-23 22:01] #85 closed

[2020-09-23 22:01] #39 closed

[2020-09-23 22:01] #4 closed

[2020-09-23 22:01] #5 closed

[2020-09-23 22:01] #6 closed

[2020-09-23 22:01] #75 closed

[2020-09-23 22:01] #95 closed

[2020-09-23 22:01] #94 closed

[2020-09-23 22:01] #91 closed

[2020-09-23 22:01] #90 closed

[2020-09-23 22:01] #7 closed

[2020-09-23 22:01] #111 closed

[2020-09-23 22:01] #108 closed

[2020-09-23 22:01] #52 closed

[2020-09-23 22:01] #67 closed

[2020-09-23 22:01] #89 closed

[2020-09-23 22:02] #76 closed

[2020-09-23 22:02] #134 closed, assigned to oscardumlao-ibm

[2020-09-24 14:46] JennySanchez opened #155 "Website traffic tracking for Q3 and Q4"
#### Objective
This is the task issue created to record the NPS outcome on the IBM.com Library website so that we can have a quick view of the website traffic.

#### Hotjar
View Hotjar Survey outcome [here](https://insights.hotjar.com/sites/42920/surveys/results/506324).

FYI - @wonilsuhibm

[2020-09-24 14:49] JennySanchez commented on #155
**Note:** (08-20-2020)
![Screen Shot 2020-08-20 at 3 27 36 PM](https://user-images.githubusercontent.com/45213839/90822314-d8c8e500-e2f9-11ea-8ab8-8621877cde2f.png)

[2020-09-24 14:50] JennySanchez commented on #155
**Date:** (09-24-2020)
![Screenshot_2020-09-24 Hotjar](https://user-images.githubusercontent.com/45213839/94161461-4f05bd80-fe4b-11ea-8bfc-784236bf1cfc.png)

**Date:** (09-28-2020)  Google Analytics report from James
[Analytics 00.001.01 All IBM Data Rollup (All Traffic) IBM.com Standards Website 20200921-20200927.pdf](https://github.com/carbon-design-system/digital-design-ideation/files/5295287/A

[2020-09-30 15:08] JennySanchez commented on #141
**Note:**
Set up this [Mural](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1601477057937?sender=chsanche&key=ce766f2c-11c4-4e87-a34d-cc9ae72548a6) for discussion session schedule 2:00 pm ET on 09/30.

[2020-09-30 17:03] photodow commented on #144
Here is my first pass at the scrolling design research. I'll add it to our critique on Friday to review if you'd like.

https://ibm.box.com/s/9izcfoxb04wkxoa5ycewn9bfrdtup7fb

[2020-09-30 18:06] RobertaJHahn commented on #32
_On Aug 13, Wonil-Suh1 commented:_
![error-page--current--404](https://media.github.ibm.com/user/25726/files/8aa70a80-bda4-11e9-9ac9-ce1dc6a19860)
![error-page--current--xxx](https://media.github.ibm.com/user/25726/files/8aa70a80-bda4-11e9-8de4-83ff2fa98a84)

[2020-09-30 18:07] RobertaJHahn commented on #32
Olivia commented On Nov 25, 2019:

<img width="1680" alt="Screenshot 2019-11-25 at 18 24 34" src="https://user-images.githubusercontent.com/45692622/69565889-d95b6780-0f83-11ea-9ae4-9bd9b7d9a158.png">

couldn't manage to reproduce this one, so only have the screen shot.

[2020-09-30 21:18] JennySanchez commented on #141
- Link to WIP Contribution Model Approach.pptx: https://ibm.box.com/s/rc5xrrhbmf2q2eqm2qu0kgf0ggaww4s1
- Link to WIP Mural: https://app.mural.co/t/digitaldesignsystemsquadwork2176/m/digitaldesignsystemsquadwork2176/1600172216140/f201aa0d94c4412af9663e0acf18063588dfb5a8

[2020-10-01 13:37] jacobottesen-dgc commented on #131
In the process of exploring multiple progress indicators for carousel with UI designs in Sketch and multiple prototypes in Adobe XD.

![Screen Shot 2020-10-01 at 8.37.05 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/fe3dc8b0-440f-49cc-924a-5c1b263c6bc7)

![Screen Shot 2020-10-01 at 8.35.22 AM.png](https://images.zenhubusercontent.com/5da5ed9833f74500019c499f/e41169c1-6bf9-4

[2020-10-02 18:58] larahanlon2 commented on #127
Final update on this work:

- [x] Lara presented research report, competitor audit and proposals to DDS and Reboot on October 1.
- [ ] The work needs to be discussed further with `content strategy` on Reboot side before final direction is agreed upon.
- [ ] Additional `design studies` or mapping of current lead space designs to page intents would be beneficial.
- [x] DDS designers need to continue

[2020-10-05 19:13] JennySanchez commented on #141
@jeffchew @ljcarot @wonilsuhibm

Can you take a look at the initial proposal for the "Contributing" section content planning for the website and let me know what do you think? I need feedback for the page naming (yellow) and the content/section (light yellow) for each page?

![Screen Shot 2020-10-05 at 2 14 51 PM](https://user-images.githubusercontent.com/45213839/95121816-359b2600-0715-11eb-949a-

[2020-10-06 14:52] #106 closed

[2020-10-06 14:53] #2 closed

[2020-10-06 16:18] ljcarot commented on #141
@JennySanchez I think we should start out with a simple list.  'Overview'; 'Components'; 'Patterns'.

[2020-10-06 16:40] JennySanchez opened #156 "Planning for the IBM.com Library website navigation update"
Carbon updated the website navigation to be more adopter friendly and we need to make plans to update the IBM.com Library website nav so we can align better with the Carbon approach and improve the browsing experience for adopters.

(IBM.com Library)
![Screen Shot 2020-10-06 at 2 05 33 PM](https://user-images.githubusercontent.com/45213839/95248522-051ebf00-07dd-11eb-9197-5017cb273abc.png)

(Carbo

[2020-10-06 16:51] JennySanchez commented on #141
@ljcarot What do you think about the content/section (in light yellow) purposed to go into the 'Overview'; 'Components'; 'Patterns' pages?

We can create the MVP version content and refine or add content as we go.

[2020-10-06 18:45] JennySanchez commented on #138
The [Mural board](
https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1598615364665?sender=wonilsuh19286&key=7e8d6467-71c5-47fe-83f6-06bb61383a2d) for the planning and prioritization can be viewed here.

![Screen Shot 2020-10-06 at 1 44 43 PM](https://user-images.githubusercontent.com/45213839/95246511-38138380-07da-11eb-8065-12287e00781e.png)

[2020-10-07 14:17] ljcarot commented on #141
@JennySanchez 'Overview' looks right. 'Components' looks like too many steps there.  'Patterns' should be only two steps too.  Can you DM me the Mural link?  It doesnt seem to want to open up for me.

[2020-10-07 23:51] JennySanchez commented on #141
**Next step:**

We will craft content and design for the **Overview, Components, **and** Patterns** under the Contributions section.

[2020-10-09 13:51] RobertaJHahn opened #157 "Scroll animation: Fade & Prototype"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Design direction(s) has been identified, reviewed,

[2020-10-09 13:53] RobertaJHahn opened #158 "Scroll animation: Final design"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Final designs are available
- [ ] Design spec issu

[2020-10-09 13:57] RobertaJHahn opened #159 "Leaving IBM Popup: design epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-10-09 14:00] RobertaJHahn opened #160 "Leaving IBM Popup: Final design"
#### User story 1  - End user

IBM customer

leave the IBM.com domain confidently

understand and complete a service or transaction (such as commerce or to register for a conference) via a 3rd party that is not owned by IBM.

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- Select the _Register on Lanyrd_ link on [this web pag

[2020-10-09 15:32] RobertaJHahn commented on #159
Closing this epic as the design work will be managed in a single issue (#160)

[2020-10-09 15:32] #159 closed, assigned to nobody

[2020-10-12 20:29] JennySanchez commented on #156
**FYI:** @jeffchew This is the nav update planning issue I mentioned last week.

[2020-10-12 22:57] JennySanchez opened #161 "Research and planning for the Contribution guidance and templates: Target - sprint 20-25"
#### Objectives

Take a look at the current Contribution section and create the list of the guidance and templates we need to create for the Contribution section pages. For example, Documentation templates. See [Carbon's Documentation templates](https://www.carbondesignsystem.com/contributing/component) for references.

[2020-10-13 16:07] photodow commented on #160
Saw @ljcarot opened up this issue to update the text.

https://github.ibm.com/webstandards/digital-design/issues/1871

Looks like content is based used from the [translation API](https://www.ibm.com/common/v18/js/data/jsononly/usen.json).

[2020-10-13 16:17] photodow commented on #160
Here is a quick mock-up using our expressive modal.

![image](https://user-images.githubusercontent.com/3793636/95887417-6dbdec80-0d45-11eb-8917-03bfeb2890b9.png)

I almost feel like this is more of a productive moment within the IBM.com experience, and suggest we might just want to use the Carbon Modal as-is for this.

![image](https://user-images.githubusercontent.com/3793636/95887580-a231a880-0

[2020-10-13 16:28] photodow commented on #160
With expressive theme turned on using Carbon's modal out of the box.

![image](https://user-images.githubusercontent.com/3793636/95890451-6dbfeb80-0d49-11eb-95e0-7f0886be62a4.png)

[2020-10-13 16:48] photodow commented on #160
From a functional standpoint, I see this being a dependency of CTA. So maybe a prop can be passed into CTA to allow for this to be turned on, but it'll probably be a variation of the modal similar to the lightbox media viewer.

From a guidelines standpoint it should it should never be used on an IBM.com domain. We might be able to build that into the CTA functionality. But the intent per Northstar

[2020-10-13 18:46] RobertaJHahn opened #162 "Audio Player: design epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`listen to audio files`

`access the information I need on the ibm.com website`

#### Additional Information
- This feature request was opened by the MediaCenter adopter under Agile board [epic 4083](https://app.zenhub.com/workspaces/ibmcom-library-5d449f3642

[2020-10-13 18:49] RobertaJHahn opened #163 "Audio player: design study - Target sprint 21-02"
#### User Story 1 - End user

`ibm.com user`

`listen to audio files`

`access the information I need on the ibm.com website`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- Offering manager is Gerard Ringuette.
- [Audio Player prototype created by MediaCen

[2020-10-13 18:55] RobertaJHahn opened #164 "Audio player: Final design"
Reference Olivia's and Jame's existing work on Audio player, conclude this work with cleaned up design proposals for MVP and potential wedding cake versions.

### Acceptance criteria
- [x] Final MVP design proposal
- [x] Future state proposal
- [x] Meeting to deliver to stateholders

[2020-10-14 16:07] JennySanchez opened #165 "Ideation: IBM.com Web Standard website hero image"
#### Objective
We need to add a hero image to the IBM.com web standard website to create a better impression when IBM.com content creators landed on the homepage.

#### Task

- [ ] Do design research and study how other IBM websites present similar content (style of the hero images or hero section treatments).
- [ ] Explore ideas and create purposed designs.
- [ ] Review the designs with Linda and

[2020-10-14 16:08] JennySanchez commented on #165
**Note:**

![Screen Shot 2020-09-29 at 8 00 34 AM](https://user-images.githubusercontent.com/45213839/96015787-95788780-0e0d-11eb-81f1-b0fbfb7d0ed3.png)

[2020-10-14 21:27] RobertaJHahn opened #166 "Back to Top: Research and Design: Target Nov 30, 2020"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

### Notes
- Are there designs we can use? Like Gatsby
- Relationship with UMX Let's talk button and placement (center? left?)
- A11y related
- How does it interact with the content under it? Translucent? Fades out

[2020-10-20 14:12] photodow commented on #160
Here are the design specs. Presented to the development yesterday.

https://ibm.ent.box.com/folder/124606259113

[2020-10-20 21:25] oliviaflory commented on #152
### Meeting attendees:
- @wonilsuhibm
- @photodow
- @jacobottesen-dgc
- @oliviaflory

### Things to look at in ideation:

**What will the landscape alert be applied to?**

Known examples:
- locale modal
- light box media viewer

Could it be applied to an entire page?
- possible example Reda's hotspot designs (?) (Olivia cannot remember if they had a landscape design)

**How permanent / strict is t

[2020-10-20 22:29] photodow commented on #152
Thanks @oliviaflory!

Just to help frame this discussion moving forward, we’re talking about an edge case that impacts a small subset of our users. I’m curious how many of them actually see this as a problem seeing as it's still functional, or how many would just instinctively know if the content doesn't fit we rotate the mobile device?

As mentioned on the call I'm afraid there is a deeper issue

[2020-10-21 17:41] RobertaJHahn opened #167 "Scoped Search Ideation epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-10-21 17:43] RobertaJHahn opened #168 "Scoped Search research"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available in the

[2020-10-22 15:41] JennySanchez commented on #127
**Task update:** Follow-up call on this task scheduled for 10/26 Monday with @wonilsuhibm and Olivia as optional.

[2020-10-22 16:04] JennySanchez opened #169 "Planning for Documentation guidelines + templates creation"
#### Objective
We need to create Documentation guidelines and templates for adopter contributions.

See Carbon's [Documentation page](https://www.carbondesignsystem.com/contributing/documentation) under Contribution as an example.

#### Steps:

- [x] Review the website and create a list of the documentation guidelines we need to create
- [x] Reach out to Jeff and the DDS leadership team for feedba

[2020-10-22 18:02] JennySanchez commented on #156
@jeffchew @ljcarot @wonilsuhibm

Below is the proposed change:

| Current navigation Label | Purposed navigation Label  | Note |
|:--|:--|:--|
| Get Started/Overview page | All about Carbon for IBM.com/What is Carbon for IBM.com | We will break the content into separate pages in the neat future |
| Get Started/Designing page | Designing/Get started | We need to move this page up a level |
| Get St

[2020-10-26 21:05] JennySanchez commented on #156
![Screen Shot 2020-10-26 at 4 05 14 PM](https://user-images.githubusercontent.com/45213839/97228557-17b96200-17a5-11eb-8f31-2892051b996a.png)

[2020-10-27 15:16] ghost commented on #117
Created a [Box note](https://ibm.box.com/s/1lm1zs6zcof4epd5k9i7wbk00o82glsj) and a [Mural board](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1603810864832?sender=wonilsuh19286&key=b29a87e7-78a0-43fe-ad27-ade9c2dd5aac) for content ideation.

Currently, collecting content ideas on the Mural board.

@JennySanchez

[2020-10-27 17:47] RobertaJHahn opened #170 "Anchor Link: Anchor Link epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-10-27 17:48] #125 closed, assigned to jacobottesen-dgc

[2020-10-27 17:48] #138 closed, assigned to JennySanchez

[2020-10-27 17:48] #160 closed, assigned to photodow

[2020-10-27 17:48] #131 closed, assigned to jacobottesen-dgc

[2020-10-27 17:57] RobertaJHahn opened #171 "Anchor Link: Research - Target 20-24"
#### User story 1  - End user

`ibm.com user`

`utilize a standardized anchor link component`

`be aligned to the design standards`

#### User story 2  - DDS Designer

`DDS Designer`

`research the systemic uses of anchor links`

`propose a standard for anchor links`

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder](https://ibm.

[2020-10-27 18:01] RobertaJHahn opened #172 "Anchor Link: Hybrid Cloud anchor links component design study: Target - sprint 20-25"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder](https://ibm.ent.box.com/folder/125209461240)
- [reference materials]

#### Acceptance Criteria
- [x] Desig

[2020-10-27 18:02] RobertaJHahn opened #173 "Anchor Link: Final design"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Final designs are available
- [ ] Design spec issu

[2020-10-29 15:17] ghost opened #174 "Card icon position standards"
Icon on the left? Icon on the left is the main question.

See the visuals in the comment below.

This story is to finalize the standards and rules.

### Resources and artifacts
- [Box folder](https://ibm.box.com/s/aceic968uuwch0phkg6h35k05jiky6dd)
- [Mural board for card pattern audit](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1603999251939?sender=wonilsuh19286&key=b62

[2020-10-29 15:18] ghost commented on #174
The latest rule/guidelines that we discussed is this:

<img width="1042" alt="Screen Shot 2020-10-29 at 11 03 29 AM" src="https://user-images.githubusercontent.com/30183447/97593830-71ee3900-19d8-11eb-8380-bed148f65df5.png">

The Sketch file for the above image is [here](https://ibm.box.com/s/9n8ejb8ful415pr0sepsqts5lf5iuh2e).

[2020-10-30 19:32] RobertaJHahn opened #175 "Featured Card Group: Adopter Ideation support - Reboot"
#### User Story - DDS Designer

`DDS Designer`

`work with the Reboot designers as they navigate through their Ideation phases`

`ensure that the final Reboot designs are not specific only to their needs and can be used by other ibm.com adopters`

#### Additional Information
- Designs were delivered Dec 11, 2020 and posted to issue [#4373](https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f

[2020-10-30 19:34] RobertaJHahn commented on #175
Feature Request details included in the Agile epic:

### The problem
The amount of products and solutions IBM offers can get a bit overwhelming. Specifically when there are many cards on a page, a user may want to elevate a select amount of cards. You may find that power users need to get to a couple of tools as soon as possible, or a new product launch landing page isn't getting enough web traffi

[2020-11-03 16:52] JennySanchez commented on #150
**Task update:** Jo, Linda and I met yesterday (11-02-2020) and Jo went over the expectation and her findings with us.

[2020-11-03 18:14] JennySanchez commented on #155
Because the site url changed, Linda had to change the Survey link.
The new link to watch for survey responses: https://insights.hotjar.com/sites/42920/surveys/responses/625121

![Screen Shot 2020-11-03 at 12 20 01 PM](https://user-images.githubusercontent.com/45213839/98025128-ed802980-1dce-11eb-965b-38d6dba55d3e.png)

[2020-11-03 18:15] JennySanchez commented on #155
**Date:** 11-02-2020 Google Analytics report from James

[Analytics 00.001.01 All IBM Data Rollup (All Traffic) Carbon content drilldown 20201026-20201101.pdf](https://github.com/carbon-design-system/digital-design-ideation/files/5483194/Analytics.00.001.01.All.IBM.Data.Rollup.All.Traffic.Carbon.content.drilldown.20201026-20201101.pdf)
[Analytics 00.001.01 All IBM Data Rollup (All Traffic) Carbon

[2020-11-03 20:15] RobertaJHahn opened #176 "Jump to Next: Research and Design"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available in the

[2020-11-03 20:17] RobertaJHahn opened #177 "Jump to Next: design epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-11-04 18:38] JennySanchez opened #178 "Ideate and crafting the master website content publishing Git template"
## We need a master publishing template for Roberta to create website content publishing task issues for DDS team members.

[2020-11-04 19:59] RobertaJHahn opened #179 "Share this page: Ideation epic"
This epic contains an overview of the research and design performed to create this component.

#### User Story 1 - End user

`ibm.com user`

`?description here?`

`?description here?`

#### Additional Information
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Research findings are available and posted to the Box folder
- [ ] Design exploration is done and results posted to

[2020-11-04 20:04] RobertaJHahn opened #180 "Share this page: Research"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- Validate what Hybrid Cloud has
- Potentially a "lift & shift"
- [box folder]
- [reference materials]

#### A

[2020-11-04 21:04] JennySanchez commented on #178
## Objective
- Provide Carbon for IBM.com adopter the best practices and guidance they need to adopt Carbon for IBM.com.
- Present Carbon for IBM.com adopters the resources and tools we offer as soon as it's available.

## General publishing process
Please make sure you always start the content crafting process by viewing the **[2020 website content publishing process box document](https://ibm.box

[2020-11-04 22:37] RobertaJHahn commented on #154
This work was broken down into 2 epics.  Closing, obsolete.

[2020-11-04 22:37] #154 closed, assigned to nobody

[2020-11-05 14:32] jacobottesen-dgc commented on #180
Test script document can be viewed here: https://ibm.ent.box.com/notes/737039096490?s=sby91jt55hlqtfe57d1w20w905p3ctiw

I am still updating the test script based on Joshua Taylor's feedback.

[2020-11-06 14:50] JennySanchez commented on #148
For the short term solution, internally, we will update the left navigation labels to match the direction on the Carbon website.

On the carbon side, the Carbon website will add a tab to take the adopters from the Carbon website to Carbon for the IBM.com website. @wonilsuhibm Is there anything missing from the short term solution mentioned here from your discussion with Mike and LInda?

[2020-11-06 14:53] JennySanchez commented on #149
For the short term solution, see #148 for detail.

For the long term solution, the strategy will be defined by Mike, Nigel, Robbin, etc. The discussion will extend into 2021. We will record the updates in this epic and add appreciate sub-issues as needed.

[2020-11-06 19:12] JennySanchez commented on #178
Based on the discussion with Roberta today, we will create individual task templates on the website repo as the next step.

[2020-11-06 19:13] JennySanchez commented on #178
All four content crafting and publishing Git templates and one content update Git template are created and located in the "Icebox" column on the website repo.

![Screen Shot 2020-11-06 at 5 36 01 PM](https://user-images.githubusercontent.com/45213839/98424196-9ab8a300-2056-11eb-9680-0572471b7e46.png)

[2020-11-06 19:54] jacobottesen-dgc commented on #132
During the carousel sync up meeting with Olivia, James and I we came up with these next steps:

- Update carousel control icons from chevron to caret
- Update user test to be A/B testing showing to options. A. Slider bar with caret icon controls with numbers in the middle. B. Add the pagination component from Carbon expressive as controls
- Meet with accessibility to discuss tabbing options
- Try

[2020-11-06 19:54] jacobottesen-dgc commented on #180
During the carousel sync up meeting with Olivia, James and I we came up with these next steps:

- Update carousel control icons from chevron to caret
- Update user test to be A/B testing showing to options. A. Slider bar with caret icon controls with numbers in the middle. B. Add the pagination component from Carbon expressive as controls
- Meet with accessibility to discuss tabbing options
- Try

[2020-11-06 23:17] jacobottesen-dgc commented on #132
Design specs for (MVP) Carousel component can be viewed below:

PDF file:
https://ibm.box.com/s/1aj7r0y9j73lvauv6dqtt73d2b6kma6v

Sketch file:
https://ibm.box.com/s/dr4mko4st4q0fv0ezm6my2jqkblfzdkn

[2020-11-10 21:16] JennySanchez opened #181 "Ideation on how to present IBM.com Style models detail per model on website"
### Objective:
Our current [Style Model page](https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/guidelines/style-models/overview) under the Guideline section provides high-level information about the style models. However, each model needs to include the following details, so we need a way to present the model details on Carbon for the IBM.com website.

- Detailed description of the user int

[2020-11-11 18:05] RobertaJHahn commented on #166
Ideation work is scheduled for sprint 20-23.  Target to move to Agile board sprint 20-24.

[2020-11-11 21:44] #156 closed, assigned to JennySanchez

[2020-11-11 21:44] #132 closed, assigned to jacobottesen-dgc

[2020-11-12 14:43] jacobottesen-dgc commented on #180
UserTesting.com results are finished. Currently reviewing all tests and taking notes. Box note of test note can be viewed here: https://ibm.ent.box.com/notes/740024551602

[2020-11-12 15:31] ghost commented on #109
Closing for duplicates.

[2020-11-12 15:31] #109 closed

[2020-11-13 14:43] ghost commented on #174
The latest icon positioning logic:
![patterns--cards--icon-position](https://user-images.githubusercontent.com/30183447/99084210-aa734280-2594-11eb-8544-14ff5f140f7c.png)

[2020-11-16 15:29] jacobottesen-dgc commented on #180
Conducted research readout to team based on results from UserTesting.com.

Recording of meeting can be viewed here: https://ibm.box.com/s/8px2nq6ddg08re8b14ptfrkw7eg36w4o

Keynote presentation can be viewed here: https://ibm.box.com/s/t1cnk57f7kcehhee17b2xeh806wzzxqd

[2020-11-16 15:59] JennySanchez commented on #150
**Meeting Note:**
- We will take the "How do I...?" approach.
- Consider taking care of the page without the left nav on the IBM Design page.
- Jo mentioned the content should be ready in two weeks and we will have two weeks to work on the design.

[2020-11-16 16:20] ghost commented on #174
PR has been approved and merged.

[2020-11-17 14:59] photodow commented on #145
Here is the box note with my study...
https://ibm.box.com/s/mauojg9vq6ordwbtxcb2g0ihbrj3hplq

[2020-11-17 15:00] photodow commented on #157
Here is the prototype I built for this work.

https://codepen.io/photodow/full/vYKaaxK

[2020-11-17 15:01] photodow commented on #158
Only added design specs for the scroll into view utiliity.
https://ibm.box.com/s/raw94fq6dcfuey786zks0c6mx24kf0cd

[2020-11-17 15:24] photodow opened #182 "Scroll animation: slide up & down - Target sprint 20-24"
Design an addition to the scroll animation utility that allows adopters to enable sliding up and down for a given component as the user scrolls down the page.

#### Resources
- Scroll animation [[box](https://ibm.box.com/s/s51j07ltae5gr31km38q6no1jfnadlgw)][[codepen](https://codepen.io/photodow/full/vYKaaxK)][[research](https://ibm.box.com/s/mauojg9vq6ordwbtxcb2g0ihbrj3hplq)]
- Scroll into view [[

[2020-11-17 15:46] photodow opened #183 "Scroll animation: audit existing components and patterns"
Explore existing patterns and components previously built out, and see how scroll animation could, should and will be applied.

- [ ] Review and Identify components / patterns
- [ ] Create stories to design for these moments of motion.

#### Resources
- Scroll animation [[box](https://ibm.box.com/s/s51j07ltae5gr31km38q6no1jfnadlgw)][[codepen](https://codepen.io/photodow/full/vYKaaxK)][[research](h

[2020-11-17 18:35] JennySanchez commented on #174
**Note:**
Case one + two - [code is available](http://ibmdotcom-react.mybluemix.net/?path=/story/components-card--default).
Case three - code is not available.

[2020-11-17 19:28] JennySanchez commented on #150
@ljcarot

- The Mural board we looked at during the meeting can be found [here](https://app.mural.co/invitation/mural/digitaldesignsystemsquadwork2176/1605552922221?sender=chsanche&key=58d9b899-325e-4719-94b8-b188e0490571). I added a link to the screenshots so you can take a look at the actual site by double-clicking on the image if you would like to explore more.

- I reached out to [Scott Strubb

[2020-11-17 20:23] photodow commented on #174
@JennySanchez case two should be available. See below...

<img src="https://user-images.githubusercontent.com/3793636/99443390-5e036c00-28e0-11eb-975a-463a87721e83.png" width="250px" />

[2020-11-18 00:23] JennySanchez commented on #174
Thank you @photodow. Note updated and Storybook link added.

[2020-11-19 14:44] JennySanchez commented on #150
Task issue #748 Design the Checklist for IBM.com Web Standard website created for the next step.
https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f3642eb1962336cbe52/issues/carbon-design-system/carbon-for-ibm-dotcom-website/748

[2020-11-19 19:15] JennySanchez commented on #61
We included the image set up step by step in the Sketch template and add guidelines for image creation in the Production Guideline. This task will be closed for now and we will continue adding more guidance as we go.

[2020-11-19 19:19] JennySanchez commented on #147
We added basic guidelines to the Carbon for IBM.com [Production guidelines - Writing content section](https://github.com/carbon-design-system/carbon-for-ibm-dotcom-website/wiki/Carbon-for-IBM.com-Production-guidelines) for now and will add more items as we go in 2021.

[2020-11-19 19:25] JennySanchez commented on #161
We should start with the following four Documentation templates.
![Screen Shot 2020-11-19 at 1 23 25 PM](https://user-images.githubusercontent.com/45213839/99713939-9040d500-2a6a-11eb-88cb-ad02973e6a89.png)

[2020-11-20 14:16] #174 closed, assigned to nobody

[2020-11-20 14:16] #145 closed, assigned to photodow

[2020-11-20 14:16] #158 closed, assigned to photodow

[2020-11-20 14:17] #157 closed, assigned to photodow

[2020-11-20 14:17] #150 closed, assigned to JennySanchez

[2020-11-20 14:17] #148 closed, assigned to JennySanchez

[2020-11-20 14:17] #178 closed, assigned to JennySanchez

[2020-11-20 14:17] #61 closed

[2020-11-20 23:04] #58 closed

[2020-11-23 19:30] ghost commented on #17
The MVP was published [here](https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/guidelines/style-models/overview)

[2020-11-23 19:53] ghost commented on #127
The outcomes as of November 23rd
- Lead space pattern MVP is being published
- Next steps will be working with adopters and partners to add details on top of these foundations.

[2020-11-23 19:53] #127 closed, assigned to JennySanchez, oliviaflory

[2020-11-23 20:47] JennySanchez commented on #181
@wonilsuhibm The IBM.com style models detail can be viewed on the [Style Models list tab](https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/guidelines/style-models/style-model-list). Can we close this ideation issue or is this for the future iteration beyond the MVP version?

[2020-11-23 20:48] JennySanchez commented on #112
This will be the 2021 focus.

[2020-11-23 20:50] JennySanchez commented on #140
This will be the 2021 focus.

[2020-11-23 20:51] JennySanchez commented on #142
This will be the 2021 focus.

[2020-11-24 21:04] photodow opened #184 "Card audit"
Our adopters are continuing to have a greater desire to have more variations for our cards. We should go through our existing cards, proposed cards, and potential known variations and see how we can better meet our adopter's needs in a more systems way of thinking.

##### A couple of things we may want to consider:
 - typography and content hierarchy variations
 - icon, media, and pictogram placem

[2020-11-24 22:39] JennySanchez commented on #22
@wonilsuhibm @oliviaflory Can you help by providing a bit more information about the task?

Such as...
- Objective or the expected outcome of the design studies
- Any existing material to help assignee understand the needs or get started faster?
- Any recommended steps to take?

[2020-11-24 22:40] JennySanchez commented on #31
@wonilsuhibm @oliviaflory Can you help by providing a bit more information about the task?

Such as...
- Objective or the expected outcome of the design studies
- Any existing material to help assignee understand the needs or get started faster?
- Any recommended steps to take?

[2020-11-24 22:43] JennySanchez commented on #104
**Note:** This task is for 2021.

[2020-11-24 22:49] JennySanchez commented on #50
Followed up with Jacob and the task is completed.
The specs can be found [here](https://ibm.box.com/s/kpln566343e0frih5ofqti0a6x5gxovm).

[2020-11-25 14:29] #50 closed

[2020-11-25 21:38] JennySanchez commented on #59
**Update:** This task should be part of the guideline publishing.

Updating the issue tile from "Publish IBM.com Library photograph related information to the website" to "Content Publishing - Guidelines (14 Photograph Guideline)" and linked to the EPIC - #646.

[2020-11-25 21:40] JennySanchez commented on #60
@wonilsuhibm I think this task is no longer relevant. Can you confirm?

[2020-11-25 21:43] JennySanchez commented on #82
@wonilsuhibm Can you help by providing a bit more information about the task?

[2020-11-25 21:43] JennySanchez commented on #107
@wonilsuhibm Any update from the Hybird Cloud Team? Can you help by providing a bit more information about the task?

[2020-11-25 21:44] JennySanchez commented on #115
@wonilsuhibm Any update from the DDS Leadership Team? Can you help by providing a bit more information about the task?

[2020-11-25 21:46] JennySanchez commented on #139
@wonilsuhibm I am not sure if this is a note for the design ideation cycle or a task. Can you help by providing a bit more information about the task?

[2020-11-25 21:50] JennySanchez commented on #184
@photodow @RobertaJHahn I added the "Design" and "Design Study" to this task issue but not sure if they are the correct label or if I miss anything. Can you take a look? Thanks!

[2020-12-01 14:36] ghost commented on #45
Let's close this epic. All tasks were done, now we have moved to the next phase.

[2020-12-01 14:36] #45 closed

[2020-12-01 16:08] ghost commented on #114
Not relevant any more.

[2020-12-01 16:08] #114 closed

[2020-12-01 16:35] #34 closed

[2020-12-01 16:35] #1 closed

[2020-12-01 18:54] JennySanchez commented on #81
Based on the short discussion, we need to connect with Lila for alignment.

For the short term, we will have a link on the website linking to the wiki page where the MVP spacing guideline will be hosted. Wonil and Jenny will discuss where to set up the link from the website and what the next iteration will look like.

[2020-12-01 23:03] RobertaJHahn commented on #184
We should review this issue in the Dec 3 meeting with the team.  I have added it to the agenda because the issue doesn't have the labels that we normally filter on.  thanks for sending the message.

[2020-12-01 23:04] JennySanchez commented on #184
Perfect. Thank you, @RobertaJHahn !

[2020-12-04 19:48] #171 closed, assigned to oliviaflory

[2020-12-06 19:26] JennySanchez commented on #155
**Date: 11-29-2020 Google Analytics reports**
[Analytics 00.001.01 All IBM Data Rollup (All Traffic) IBM.com Standards Website 20201123-20201129.pdf](https://github.com/carbon-design-system/digital-design-ideation/files/5649393/Analytics.00.001.01.All.IBM.Data.Rollup.All.Traffic.IBM.com.Standards.Website.20201123-20201129.pdf)
[Analytics 00.001.01 All IBM Data Rollup (All Traffic) IBM.com Library

[2020-12-07 17:17] photodow commented on #166
Here are the designs and functional specs for here.

https://ibm.ent.box.com/folder/127553793291

[2020-12-07 17:17] #166 closed, assigned to photodow

[2020-12-07 17:18] photodow commented on #153
Here are the designs and functional specs for here.

https://ibm.ent.box.com/folder/127553793291

[2020-12-07 19:01] RobertaJHahn commented on #153
Closing as this epic was created in the Ideation repo for the Zenhub management.  The Zenhub board is obsolete.  The one Ideation issue has been linked to the original Carbon for ibm.com epic (#4462)

[2020-12-07 19:02] #153 closed, assigned to nobody

[2020-12-07 21:19] JennySanchez commented on #155
**Date: 12-07-2020 Google Analytics reports**

[Analytics 00.001.01 All IBM Data Rollup (All Traffic) IBM.com Library Website 20201130-20201206.pdf](https://github.com/carbon-design-system/digital-design-ideation/files/5655321/Analytics.00.001.01.All.IBM.Data.Rollup.All.Traffic.IBM.com.Library.Website.20201130-20201206.pdf)
[Analytics 00.001.01 All IBM Data Rollup (All Traffic) IBM.com Standards W

[2020-12-10 16:55] oliviaflory commented on #172
I shared with Shawn H that we are looking to add the Anchor link to our library, his team is currently running an A/B test with an updated Anchor link pattern that better aligns with the Table of Contents component.

Link to [Slack conversation](https://cognitive-app.slack.com/archives/GVAG3EPDG/p1607546787162000)

[2020-12-14 19:25] RobertaJHahn commented on #162
Closing.  This work will be managed under epic (#4083)

[2020-12-14 19:25] #162 closed, assigned to nobody

[2020-12-14 19:32] RobertaJHahn commented on #173
There is duplicate effort going on for Anchor Link design with the AEM team.  AEM is doing A/B/C testing and can provide the results to DDS at the end of Dec.  We will keep this issue in the first sprint of 2021, but the final design may not be delivered, pending the AEM A/B testing.

[2020-12-14 19:58] RobertaJHahn commented on #147
Closing.  Will create new issues as we see a need in the future.  Ref issue (#722)

[2020-12-14 19:58] #147 closed, assigned to JennySanchez

[2020-12-14 22:09] RobertaJHahn opened #185 "Audio Player: Design Research - Target: Jan 15"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

### Notes

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder](https://ibm.ent.box.com/folder/124347059482?s=05ndo5nsg3sonc3wyskcbkoi93lhdoor)
- [reference ma

[2020-12-14 22:24] #139 closed, assigned to nobody

[2020-12-14 22:38] RobertaJHahn opened #186 "Ideation Cycle 1 - 2021 planning"
#### User story

`DDS Designer`

`prepare for and complete the follow-up work after the Ideation meetings`

`ensure that the scheduled work through out Ideation Cycle 1 - 2021 supports the business and executive strategy`

#### Additional Information
- Ideation Cycle 1 - 2021 dates:  TBD
- [reference materials]

#### Acceptance Criteria
- [ ] Updated mural with the status of the work performed in

[2020-12-15 15:38] ghost commented on #181
@JennySanchez This is beyond the MVP.

I have three models presented in this [prototype](https://ibm.invisionapp.com/share/5BO0RUM3VMQ#/319811727_Model-1).

### Model 1
The style model list page is one long page. The height will reach 50,000 px, which feels a bit too tall and not scalable.

### Model 2
Each style model has a hidden detail page that is access from the list.

### Model 3
The list pa

[2020-12-15 16:45] RobertaJHahn commented on #172
We will wrap up this work and keep the final design story in the first sprint in Jan.

[2020-12-16 20:51] JennySanchez commented on #181
Thank you for sharing the style model list nav ideas with me, @wonilsuhibm. As mentioned, Model 3 works the best but we might want to take a look at the "back to the list" link treatment as a group Friday.

[2020-12-17 14:19] RobertaJHahn commented on #186
Jenny's comment copied from issue (#146)
### User Testing

**Potential tool: Usertesting.com**

For comparing feature set-ups along with options for the adopters to select the areas of what needs work. For example, content, visual reference, etc. The use case could be the ListView or Thumbnail View on the Components Overview Page.

For content feedback. Provide the adopters a set of information, a

[2020-12-17 14:20] RobertaJHahn commented on #186
Jenny's comment copied from issue (#146)

### Style Model

A "info" icon to be next to each style model and show information around what is this template for and the intent (around the end-user need).

---
**Note:**
![Screen Shot 2020-09-10 at 3 06 25 PM](https://user-images.githubusercontent.com/45213839/92796921-38edfc80-f377-11ea-9974-0cb205d0d496.png)

[2020-12-17 14:21] RobertaJHahn commented on #186
Jenny's comment copied from issue (#146)
### Overall Visual Style
![Screenshot_2020-09-10 Material Design](https://user-images.githubusercontent.com/45213839/92797203-7a7ea780-f377-11ea-930c-654e60786e5a.jpg)

[2020-12-17 14:22] RobertaJHahn commented on #186
Closed issue (#146) as a dup of this issue.

[2020-12-17 14:22] RobertaJHahn commented on #146
Closing as dup of (#186)

[2020-12-17 19:08] JennySanchez commented on #146
Hi, @RobertaJHahn This is not the duplicate issue of [186](https://github.com/carbon-design-system/digital-design-ideation/issues/186). This task issue contains NEW ideas I'd like to go over with Wonil and get feedback. Issue 186 (Ideation Cycle 1 - 2021 planning) is for the work we already know ahead of us.

I updated this issue title to be **New ideas for 2021** to avoid the confusion.

[2020-12-17 19:19] JennySanchez commented on #146
I just saw you copied the content to the 186. Ok. Please discard the message above and I will close 146 and use 186 for discussion with Wonil.

[2020-12-17 19:19] #146 closed, assigned to JennySanchez

[2020-12-18 21:33] #172 closed, assigned to oliviaflory

[2020-12-21 15:07] RobertaJHahn commented on #182
@photodow Is this work finished?  Can you post the links and update the status as well.  Thanks.

[2020-12-21 20:22] RobertaJHahn commented on #186
Moving to backlog. Will make a decision about the schedule when other decisions are made.

[2020-12-21 22:16] photodow commented on #182
@RobertaJHahn here is the link. Got a couple of rough edges I need to iron out, but I can move into review.

https://codepen.io/photodow/full/vYKaaxK

[2020-12-21 22:21] RobertaJHahn commented on #144
Moving this work to be managed under Carbon for ibm.com epics so that the Roadmap feature works.  The linked issues have been moved to [epic 753](https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f3642eb1962336cbe52/issues/carbon-design-system/carbon-for-ibm-dotcom/753) and [epic 4766](https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f3642eb1962336cbe52/issues/carbon-design-system/c

[2020-12-21 22:21] #144 closed, assigned to nobody

[2021-01-04 18:10] wonilsuhibm commented on #152
A quick design exploration for overlay over the entire screen:

<img width="712" alt="Screen Shot 2021-01-04 at 1 08 14 PM" src="https://user-images.githubusercontent.com/30183447/103565236-facc9980-4e8d-11eb-95da-4c0bf0be192d.png">

The design file is on Box [here](https://ibm.box.com/s/nll69a9b5qwzinj7g4saomzelbmn7i9z)

[2021-01-04 19:48] JennySanchez commented on #169
- [x] Markdown cheatsheet

Markdown cheatsheet page on wiki created and can be viewed [here](https://github.com/carbon-design-system/carbon-for-ibm-dotcom-website/wiki/Markdown-cheatsheet).
![Screenshot_2021-01-04 carbon-design-system carbon-for-ibm-dotcom-website](https://user-images.githubusercontent.com/45213839/103573222-84329a80-4e93-11eb-9aba-bb22e1245a02.png)

Add the sentence "Check out th

[2021-01-04 20:00] JennySanchez commented on #169
- [ ] Instruction on creating "pull request"
![Screen Shot 2021-01-04 at 2 03 48 PM](https://user-images.githubusercontent.com/45213839/103574505-b513cf00-4e95-11eb-9fe5-a783101d65a7.png)

- [ ] Content edit "tools"
- [ ] Update content with "VSCode"

![Screen Shot 2021-01-04 at 1 56 52 PM](https://user-images.githubusercontent.com/45213839/103574156-112a2380-4e95-11eb-8dcb-fa7e15081594.png)

---

[2021-01-04 21:19] RobertaJHahn commented on #182
@photodow Could you post links to the designs into this issue and the epic (#4766) so the dev's know what changes have to be made?  I'd like the issue to be complete before closing.  Thanks.

[2021-01-05 03:51] photodow commented on #182
@RobertaJHahn I posted the link to the designs via the prototype before the break. The functional specs should have more details for the devs similar to how we did the fade animation.

[2021-01-05 22:38] RobertaJHahn commented on #182
@photodow Your comment above with the prototype link says that some more work is remaining.  A comment stating that the designs have been approved and moving this issue to done, would make the status clearer.  Thanks.

[2021-01-05 22:50] photodow commented on #182
@RobertaJHahn because @wonilsuhibm hasn't approved it. Right now he's taking a stab at trying to get a specific aspect of it to work the way he wants. I'll let him update from here.

[2021-01-06 17:15] photodow commented on #183
Here are some stories I'm going to create today focusing on low-level elements at first. Especially focusing on media and cards first we can get some heavy hitters out with minimal effort.

 - [ ] Card group
   - Content group with cards
   - Card section
   - Content block with cards
   - Locale modal
 - [ ] Logo grid
 - [ ] Content Group with Pictograms
   - Pictogram Item
 - [ ] Content group h

[2021-01-06 19:18] RobertaJHahn commented on #54
Google Analytics is being used.  Reports are being created weekly.  Closing

[2021-01-06 19:18] #54 closed

[2021-01-06 19:19] RobertaJHahn commented on #53
Google Analytics is being used.  Reports are being created weekly.  Closing

[2021-01-06 19:19] #53 closed

[2021-01-06 19:20] #155 closed, assigned to JennySanchez

[2021-01-06 22:56] JennySanchez commented on #169
Based on the discussion with Jeff. We will create the step-by-step guidelines for generating a pull request, install tools, and update the content with VSCode in the future to support adopters on learning. The task issues created for the documentation creation are #807, #808, and #809.

![Screen Shot 2021-01-06 at 4 55 11 PM](https://user-images.githubusercontent.com/45213839/103828148-17a8ce80-50

[2021-01-08 14:49] #169 closed, assigned to JennySanchez

[2021-01-11 22:03] #182 closed, assigned to nobody

[2021-01-11 22:05] RobertaJHahn commented on #182
Wonil and James agreed in the Design meeting that this issue can be closed.

[2021-01-14 15:25] JennySanchez commented on #161
### 👉 Below are the current MVP content requirements:

- Default
- Variations
- Design and functional specifications
- Development documentation
- Feedback

### 👉 [Content-block-media website page](https://www.ibm.com/standards/web/carbon-for-ibm-dotcom/components/content-block-media/) is one of the examples.

![Screenshot_2021-01-14 Carbon for IBM com.jpg](https://images.zenhubusercontent.com/5da

[2021-01-14 15:46] JennySanchez commented on #161
@wonilsuhibm

I think the Documentation Markdown Templates should be work on when we have a solid idea of what the To-Be website page structure looks like.

We can share the MVP markdown template on the website with the adopters, but we will have to add or request additional content when the To-Be structure is ready. Plus, for now, there are no urgent needs from the adopters, and I can always walk

[2021-01-19 17:52] JennySanchez commented on #161
Based on the Design team Epic and Issues refinement call discussion, we will add the "Usage section" to the markdown template and add the template to the website page as soon as possible.

[2021-01-20 00:23] JennySanchez commented on #161
**Task update:** Making edits with markdowns and will see how the page turned out then make additional edits - [PR 826](https://github.com/carbon-design-system/carbon-for-ibm-dotcom-website/pull/826).

[2021-01-20 14:47] oliviaflory commented on #163
Meeting scheduled with Kaltura team for Jan 20, 2021

[2021-01-20 20:49] RobertaJHahn commented on #185
This issue can be closed with the follow-on work managed in the design study [issue 163](https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f3642eb1962336cbe52/issues/carbon-design-system/digital-design-ideation/163)

[2021-01-20 20:49] #185 closed, assigned to oliviaflory

[2021-01-21 18:28] JennySanchez commented on #161
@wonilsuhibm Can you take a look and let me know if any edits needed via [Slack](https://cognitive-app.slack.com/archives/G01CFF8ETPU/p1611158581026900) or [PR 826](https://github.com/carbon-design-system/carbon-for-ibm-dotcom-website/pull/826)? Thank you.

[2021-01-26 17:52] oliviaflory commented on #173
I met with Kirby from AEM today to discuss the Anchor link
– Our designs are very similar, I shared the overflow idea, discussed what happens if the text is long.
– I shared our spec file so they could look at it and align the selected state
– Their testing is wrapping up sometime this week (1/25–1/29), and will be having an initial readout of the testing results sometime later in the week, which

[2021-01-27 22:45] JennySanchez commented on #161
**FYI:** Reaching out to James and Olivia to take a look and provide feedback as well.

[2021-01-29 21:53] #161 closed, assigned to JennySanchez

[2021-02-01 16:53] RobertaJHahn commented on #175
Closing this issue as the design work has not been prioritized in several months.

[2021-02-01 16:53] #175 closed, assigned to nobody

[2021-02-02 18:16] RobertaJHahn commented on #170
Closing as this epic is replaced by [5069](https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f3642eb1962336cbe52/issues/carbon-design-system/carbon-for-ibm-dotcom/5069) in the Carbon for ibm.com repo

[2021-02-02 18:16] #170 closed, assigned to nobody

[2021-02-02 20:04] #163 closed, assigned to oliviaflory

[2021-02-03 16:41] RobertaJHahn opened #187 "Carousel: Pagination design study / exploration"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Design direction(s) has been identified, reviewed,

[2021-02-03 16:43] RobertaJHahn opened #188 "Carousel: Pagination Final design"
#### User story 1  - End user

`ibm.com user`

`?description here?`

`?description here?`

#### User story 2  - DDS Designer

`DDS Designer`

`?description here?`

`?description here?`

#### Additional Information
- **See the epic for the overarching descriptions of the work.**
- [box folder]
- [reference materials]

#### Acceptance Criteria
- [ ] Designs are approved
- [ ] Final designs are avail

[2021-02-08 14:47] oliviaflory commented on #173
Wonil and I met with Sandeep, Kirby and Stephanie from the AEM team on Tuesday 2/2/20.

AEM is doing some further exploration on how to add "Next steps" to the horizontal anchor link design per the feedback they received on some user tests.
Wonil and I gave them suggestions of placement and things to consider
– next steps within the anchor
– next steps in a different color
– next steps below the a

[2021-02-15 15:14] photodow commented on #164
[Here](https://github.com/carbon-design-system/carbon-for-ibm-dotcom/issues/4866#issuecomment-779279790) is an update from some of last week's work on this https://github.com/carbon-design-system/carbon-for-ibm-dotcom/issues/4866#issuecomment-779279790

[2021-02-17 21:41] #126 closed, assigned to nobody

[2021-02-17 21:41] #128 closed, assigned to nobody

[2021-02-17 21:42] #129 closed, assigned to nobody

[2021-02-18 18:11] shixiedesign commented on #164
Another piece of info https://cognitive-app.slack.com/archives/GBG66T9NK/p1613671614140900

[2021-02-19 15:16] RobertaJHahn commented on #66
@JennySanchez This epic is awfully old.  Can't we close it?

[2021-02-24 21:01] RobertaJHahn commented on #181
@shixiedesign Trying to do some clean up.  This task is in the current sprint and assigned to Wonil.  What would you like to do with it?

[2021-02-25 15:54] RobertaJHahn commented on #117
@shixiedesign I am trying to clean up old issues so that we don't keep carrying work from one sprint to the next.  Can you decide whether this issue is still needed.  If not, just comment and move to Done.  Thanks.

[2021-02-26 02:44] shixiedesign commented on #117
I've found a lot of materials Wonil's drafted.

This story can be closed and the work will be tracked in Website audit & planning issue https://github.com/carbon-design-system/carbon-for-ibm-dotcom-website/issues/860

[2021-02-26 17:34] #117 closed

[2021-02-28 04:01] shixiedesign commented on #164
Final design recommendations:
https://ibm.box.com/s/5tb82n71maykwdkw1shvxbeg7fpyptff

![image.png](https://images.zenhubusercontent.com/5be09c3a6102900c6d16d991/562bb4b6-c334-46ca-b5b8-9b123f3caa1b)
![image.png](https://images.zenhubusercontent.com/5be09c3a6102900c6d16d991/4974b419-6b57-4d7d-b900-cf3309287806)![image.png](https://images.zenhubusercontent.com/5be09c3a6102900c6d16d991/5407c46f-0101-

[2021-03-01 13:43] #164 closed, assigned to shixiedesign

[2021-03-02 00:35] JennySanchez commented on #181
@RobertaJHahn You can assign the issue to me, and please remove the priority: high label and take the milestone off.
Wonil wanted to work on it before leaving, but he did not have time to work on it. We need to get to it eventually, but it's not urgent. I am working on getting all the task issues in one place and take another look at the things we need to work on for the website with DDS Leads.

@

[2021-03-02 16:08] JennySanchez commented on #60
This task is no longer relevant and the task issue will be closed.

[2021-03-02 16:08] #60 closed

[2021-03-02 20:42] RobertaJHahn commented on #124
Closing as all linked issues are finished.

[2021-03-02 20:42] #124 closed, assigned to nobody

[2021-03-03 01:30] JennySanchez commented on #66
@RobertaJHahn I am trying to reviewing all the website task issues this sprint, and I still need this Epic for another Sprint or two. I will make sure I close it if we no longer need it in a sprint or two.

[2021-03-19 14:29] shixiedesign commented on #69
Close coz duplicate

[2021-03-19 14:29] #69 closed

[2021-03-19 19:28] JennySanchez commented on #112
This task was opened in July 2020. We no longer have Layout patterns sections anymore, and this task will be closed.

**FYI:** @RobertaJHahn

[2021-03-19 19:28] #112 closed

[2021-03-19 20:34] JennySanchez commented on #48
This Epic is no longer relevant to our work or priority and will be closed.
FYI: @RobertaJHahn

[2021-03-19 20:34] #48 closed

[2021-03-19 20:34] JennySanchez commented on #86
This Epic is no longer relevant to our work or priority and will be closed.
FYI: @RobertaJHahn

[2021-03-19 20:34] #86 closed

[2021-03-19 20:35] JennySanchez commented on #149
This Epic is no longer relevant to our work or priority and will be closed.
FYI: @RobertaJHahn

[2021-03-19 20:35] #149 closed, assigned to JennySanchez

[2021-03-19 20:39] JennySanchez commented on #141
This task issue is no longer relevant to our work or priority and will be closed.
FYI: @RobertaJHahn

[2021-03-19 20:39] #141 closed, assigned to JennySanchez

[2021-03-19 20:40] JennySanchez commented on #104
This task issue is no longer relevant to our work or priority and will be closed.
FYI: @RobertaJHahn

[2021-03-19 20:40] #104 closed

[2021-03-19 20:41] JennySanchez commented on #181
This task issue is no longer relevant to our work or priority and will be closed.
FYI: @RobertaJHahn

[2021-03-19 20:41] #181 closed, assigned to JennySanchez

[2021-03-19 20:53] JennySanchez commented on #133
This Epic is no longer relevant to our work or priority and will be closed.
FYI: @RobertaJHahn

[2021-03-19 20:53] #133 closed, assigned to JennySanchez, jacobottesen-dgc

[2021-03-23 19:07] #118 closed

[2021-03-25 18:31] JennySanchez commented on #142
We will create proper Epic and issues when we are ready to set up Adopter research-related task, for now, it's no longer a priority, and the task will be closed.

[2021-03-25 18:31] #142 closed, assigned to JennySanchez

[2021-03-25 22:20] JennySanchez commented on #66
After reviewing the priorities with Linda, this Epic is identified as a Medium priority. We will create proper task issues to get the Epic moving. FYI @RobertaJHahn

[2021-03-25 22:23] JennySanchez commented on #140
Need to work with a developer on creating this page and automate the process.
FYI: @jeffchew

[2021-03-29 12:38] RobertaJHahn commented on #73
Closing as Wonil has left IBM.

[2021-03-29 12:38] #73 closed

[2021-04-06 20:51] RobertaJHahn commented on #22
Closing as the issue is not complete and old.

[2021-04-06 20:51] #22 closed

[2021-04-06 20:51] #31 closed

[2021-04-06 20:51] #82 closed

[2021-04-06 20:51] #107 closed

[2021-04-06 20:51] #115 closed

[2021-04-08 15:20] tamcai-ibm commented on #140
Hi, I was directed here to suggest a new feature for IDL/Carbon/DDS updates. Since I'm on the UMX team, I do not regularly receive updates on upcoming or WIP designs / patterns / new / changes to existing components. For example, I presented a design a few days ago on DDS Partner Review session and didn't know there were some new changes in how the hero images could be resized...previously, I thou

[2021-04-08 16:18] JennySanchez commented on #140
Thank you for the feedback, @tamcai-ibm. Your feedback help @ljcarot and I not only understand adopter needs but also spark new idea we can try to make the adoption experience better for adopters.

[2021-04-12 15:35] RobertaJHahn commented on #105
@shixiedesign Should I move this issue to Sprint 21-08?

[2021-04-22 18:47] #78 closed

[2021-04-22 19:00] #168 closed, assigned to nobody

[2021-04-22 19:02] #176 closed, assigned to nobody

[2021-04-22 19:22] RobertaJHahn commented on #186
Never used.  Closing

[2021-04-22 19:22] #186 closed, assigned to nobody

[2021-04-22 19:45] RobertaJHahn commented on #87
All linked issues are closed.

[2021-04-22 19:45] #87 closed

[2021-04-22 19:50] RobertaJHahn commented on #177
Linked issue from Ideation repo is closed.  Closing.

[2021-04-22 19:50] #177 closed, assigned to nobody

[2021-04-22 20:39] RobertaJHahn commented on #120
Closing as the Ideation repo concept no longer exists.

[2021-04-22 20:39] #120 closed, assigned to nobody

[2021-04-23 13:52] RobertaJHahn commented on #49
Closing.  This epic is no longer needed.

[2021-04-23 13:52] #49 closed

[2021-04-25 03:45] shixiedesign commented on #105
Some basic research suggests--

### Component's background should extend beyond max width.

Currently, only "Global" components get the full screen width background (eg. masthead and footer), and local(er) components do not have background extending beyond grid max width (1584px). This created some awkward white space on both sides of the screen.

On MBP (Display 2048 wide):

![image.png](https://

[2021-04-29 18:09] RobertaJHahn commented on #113
Can be closed.  This work should be done by the MediaCenter team.

[2021-04-29 18:09] #113 closed

[2021-04-29 18:13] RobertaJHahn commented on #165
If this is not worked on by the end of June 2021 then can close.

[2021-04-29 18:17] JennySanchez commented on #165
Issue moved to [carbon-design-system/carbon-for-ibm-dotcom #5934](https://github.com/carbon-design-system/carbon-for-ibm-dotcom/issues/5934) via [**ZenHub**](https://www.zenhub.com/)

[2021-04-29 18:17] #165 closed, assigned to JennySanchez

[2021-04-29 18:19] RobertaJHahn commented on #57
This work should be done by the Guild process or a a DGC resource requested through Nigel.  Closing.

[2021-04-29 18:19] #57 closed

[2021-04-29 18:20] RobertaJHahn commented on #59
Not needed any longer.  Closing

[2021-04-29 18:20] #59 closed

[2021-04-29 18:22] RobertaJHahn commented on #71
Naming cleanup is underway as part of the Housekeeping epic.  (#5321)

[2021-04-29 18:22] #71 closed

[2021-04-29 18:24] RobertaJHahn commented on #116
Decided to leave as is.  Closing

[2021-04-29 18:24] #116 closed

[2021-04-29 18:24] RobertaJHahn commented on #130
No longer needed.  Closing

[2021-04-29 18:24] #130 closed, assigned to nobody

[2021-04-29 18:26] RobertaJHahn commented on #184
Closing,  Will create a new issue when the work can be scheduled.

[2021-04-29 18:26] #184 closed, assigned to nobody

[2021-05-03 17:42] JennySanchez commented on #140
https://www.carbondesignsystem.com/whats-happening/releases/

![Screenshot_2021-05-03 Releases – Carbon Design System.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/b8d60598-fa53-4dd6-a9de-0c552f79a19d)

[2021-05-13 12:53] RobertaJHahn commented on #30
dup of (#5976 ) closing

[2021-05-13 12:53] #30 closed

[2021-05-26 17:52] shixiedesign commented on #188
Cleaning up backlog - this task is no longer relevant.

[2021-05-26 17:52] #188 closed, assigned to nobody

[2021-06-03 20:03] JennySanchez commented on #140
Will share the initial designs in the sprint demo.

![Screen Shot 2021-06-03 at 3.26.23 PM.png](https://images.zenhubusercontent.com/5da0db0a9f0a9500014f53bf/053e652b-88d2-4d2e-b3d2-db160c9b86d5)

**Next step:**

- We need to validate the content structure with adopters to find out what info they are looking for when it comes to release updates.
- With the findings, then we can finalize the design

[2021-06-03 20:25] #140 closed, assigned to JennySanchez

[2021-06-21 21:01] shixiedesign commented on #115
Duplicate of https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f3642eb1962336cbe52/issues/carbon-design-system/carbon-for-ibm-dotcom/5978

[2021-06-21 21:11] shixiedesign commented on #81
Great project brief but we'd have to revisit. Not one of the current priorities, and not a big fire right now.

[2021-06-21 21:11] #81 closed

[2021-06-21 21:12] shixiedesign commented on #167
If this work presents itself again, will start new issue.

[2021-06-21 21:12] #167 closed, assigned to nobody

[2021-06-21 21:18] shixiedesign commented on #32
Lots of great content here. Moved over to the https://app.zenhub.com/workspaces/carbon-for-ibmcom-5d449f3642eb1962336cbe52/issues/carbon-design-system/carbon-for-ibm-dotcom/5976 and this can be closed.

[2021-06-21 21:18] #32 closed

[2021-06-21 21:20] shixiedesign commented on #66
We will inspire people later. First we need to figure out how to put on pants.

[2021-06-21 21:20] #66 closed

[2021-06-21 21:21] shixiedesign commented on #83
Already WIP in the new Content section / block / group / item work. Should close and tackle from more specific tasks.

[2021-06-21 21:21] #83 closed

[2021-06-21 21:22] shixiedesign commented on #33
`Pattern` will continue but not via this epic.
For now, FYI @janchild please see Lara's past work on Pattern https://ibm.ent.box.com/folder/83745317622

[2021-06-21 21:22] #33 closed

[2021-06-22 03:30] #151 closed, assigned to JennySanchez

[2021-06-22 03:31] shixiedesign commented on #187
This is done. Component tested and build.

[2021-06-22 03:31] #187 closed, assigned to nobody